<div class="md_simple_modal_wrap" my-modal-position>
    <div class="md_simple_modal_body">
        <h4 my-i18n="head_create_temple_group"></h4>

        <div ng-if="processing">
            <h5>Сейчас обрабатываются</h5>

            <ul>
                <li ng-repeat="temple in temples">{{temple.id}} {{temple.title}} <span ng-if="temple.success">Успешно</span></li>
            </ul>
        </div>

        Всего: {{countAllTemples}} Обработано: {{countProcessed}} Осталось {{countAllTemples - countProcessed}}

        <button class="btn btn-md" ng-click="start()">Старт</button>
    </div>

    <div class="md_simple_modal_footer">
        <button class="btn btn-md" ng-click="closeModal()" my-i18n="modal_cancel"></button>
        <!-- <button class="btn btn-md btn-md-primary" ng-class="{disabled: group.creating}" ng-click="createGroup()" ng-bind="group.creating ? 'group_create_submit_active' : 'group_create_submit' | i18n" ng-disabled="group.creating"></button>-->
    </div>

</div>