<div class="md_simple_modal_wrap" my-modal-position>

  <div class="md_simple_modal_body">

    <form class="modal_simple_form" ng-submit="updateProfile()">

      <h4 my-i18n="prv_profile_birthday_modal_title"></h4>

      <div class="md-input-group md-input-has-value" ng-class="{'has-error': error.field == 'day'}">
        <label class="md-input-label" my-i18n="prv_profile_birthday_day">День</label>
        <select class="md-input" ng-model="dateSelect.day" required>
          <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
        </select>
      </div>

      <div class="md-input-group md-input-has-value" ng-class="{'has-error': error.field == 'month'}">
        <label class="md-input-label" my-i18n="prv_profile_birthday_month"></label>
        <select class="md-input" ng-model="dateSelect.month" required>
          <option ng-repeat="month in months" value="{{$index + 1}}">{{month | i18n}}</option>
        </select>
      </div>

      <div class="md-input-group md-input-has-value" ng-class="{'has-error': error.field == 'year'}">
        <label class="md-input-label" my-i18n="prv_profile_birthday_year"></label>
        <select class="md-input" ng-model="dateSelect.year" required>
          <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
        </select>
      </div>

    </form>

  </div>

  <div class="md_simple_modal_footer clear">
    <button class="btn btn-md" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
    <button class="btn btn-md btn-md-primary" ng-class="{disabled: profile.updating}" ng-click="updateProfile()" ng-bind="profile.updating ? 'profile_edit_submit_active' : 'profile_edit_submit' | i18n" ng-disabled="profile.updating"></button>
  </div>

</div>
