<div class="contacts_modal_wrap md_modal_wrap" my-modal-position>
    <div class="md_modal_head md_modal_head_simple">
        <div class="md_modal_title_wrap">
            <div class="md_modal_actions_wrap clearfix">
                <a class="md_modal_action md_modal_action_close" ng-click="$dismiss()" my-i18n="modal_close"></a>
            </div>
        </div>
        <div class="md_modal_title">
            <span my-i18n="add_temple_modal_title"></span>
        </div>
    </div>


    <div ng-if="loading" class="prv_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="sessions_modal_loading">
        <my-i18n-param name="dots">
            <span my-loading-dots></span>
        </my-i18n-param>
    </div>


    <form  ng-if="!loading" class="modal_simple_form" ng-submit="add()">
        <div class="md_modal_body">
            <div class="md-input-group" ng-class="{'has-error': error.field == 'first_name'}" my-labeled-input>
                <label class="md-input-label" my-i18n="add_temple_title"></label>
                <input class="md-input" my-focused type="text" ng-model="temple.name"  ng-required="true"/>
            </div>

            <div class="md-input-group" ng-class="{'has-error': error.field == 'last_name'}" my-labeled-input>
                <label class="md-input-label" my-i18n="add_temple_address"></label>
                <input class="md-input" type="text" ng-model="temple.address" ng-required="true"/>
            </div>


            <input type="file" style="display:none" id="file" name="file" ng-model="selectedFile" custom-on-change="selectFile" />
            <button type="button" class="btn btn-primary" onclick="document.getElementById('file').click();" my-i18n="prv_add_image"></button>

            <ul class="prv_file_list">
                <li class="prv_file_row" ng-repeat="file in form_files">{{file.name}} <a href="" class="btn btn-danger" ng-click="removeFile()" title="{{'prv_remove_image' | i18n}}">x</a></li>
            </ul>

        </div>

        <div class="md_modal_footer clearfix">
            <button class="btn btn-md" ng-click="$dismiss()">
                <span my-i18n="modal_cancel"></span>
            </button>
            <button class="btn btn-md btn-md-primary" type="submit"> <span my-i18n="add_temple_submit"></span></button>
        </div>

    </form>

</div>