<div class="settings_modal_wrap md_modal_wrap" my-modal-position>

    <div class="md_modal_head">
        <div class="md_modal_title_wrap">
            <div class="md_modal_actions_wrap clearfix">
                <a class="md_modal_action md_modal_action_close" ng-click="$close()" my-i18n="modal_close"></a>
            </div>
            <div class="md_modal_title" my-i18n="settings_modal_title"></div>
        </div>
    </div>

    <div class="md_modal_body">
        <div class="md_modal_sections clearfix">
            <div class="md_modal_iconed_section_wrap md_modal_iconed_section_number">
                <div class="md_modal_section_param_wrap">
                    <div class="md_modal_section_param_value" ng-switch="prv_profile.birthday.length > 0">
                        <a ng-switch-when="true" class="settings_modal_prv_profile_link" ng-click="changePrvBirthday()" ng-bind="prv_profile.birthday"></a>
                        <a ng-switch-default ng-click="changePrvBirthday()" my-i18n="settings_modal_empty_prv_profile_birthday"></a>
                    </div>
                    <div class="md_modal_section_param_name" my-i18n="settings_modal_prv_profile_birthday"></div>
                </div>

                <div class="md_modal_section_param_wrap">
                    <div class="md_modal_section_param_value" ng-switch="prv_profile.profession.length > 0">
                        <a ng-switch-when="true" class="settings_modal_prv_profile_link" ng-click="changePrvProfession()" ng-bind="prv_profile.profession"></a>
                        <a ng-switch-default ng-click="changePrvProfession()" my-i18n="settings_modal_empty_prv_profile_profession"></a>
                    </div>
                    <div class="md_modal_section_param_name" my-i18n="settings_modal_prv_profile_profession"></div>
                </div>

                <div class="md_modal_section_param_wrap">
                    <div class="md_modal_section_param_value" ng-switch="prv_profile.saint != undefined">
                        <a ng-switch-when="true" class="settings_modal_prv_profile_link" ng-click="changePrvSaint()" ng-bind="prv_profile.saint.name"></a>
                        <a ng-switch-default ng-click="changePrvSaint()" my-i18n="settings_modal_empty_prv_profile_saint"></a>
                    </div>
                    <div class="md_modal_section_param_name" my-i18n="settings_modal_prv_profile_saint"></div>
                </div>
            </div>
        </div>
    </div>
</div>
