<div class="temple_list_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head md_modal_head_simple">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$dismiss()" my-i18n="modal_close"></a>
        <a class="md_modal_action md_modal_action_add_temple" ng-click="openTempleList()" my-i18n="temple_list_modal_add_temple"></a>
      </div>
    </div>
    <div class="md_modal_title">
      <span my-i18n="user_temple_list_modal_title"></span>
    </div>
  </div>

  <div class="md_modal_body">
    <div prv-temple-list  class="temple_list_modal_col">
      <div class="temples_wrap nano" my-infinite-scroller>
        <div class="temples_scrollable_wrap nano-content">

          <div ng-if="!dataLoaded" class="prv_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="sessions_modal_loading">
            <my-i18n-param name="dots">
              <span my-loading-dots></span>
            </my-i18n-param>
          </div>

          <ul ng-if="dataLoaded && !emptyResults" class="contacts_modal_members_list nav nav-pills nav-stacked">
            <li class="temple_list_item clearfix" ng-repeat="temple in temples">
              <a ng-click="templeSelect(temple.id)" ng-class="{'no-image': !temple.images.length}">
                <div class="pull-left temple_list_modal_temple_img_wr" ng-if="temple.images.length">
                  <img ng-src="{{temple.images[0].thumb_url}}" alt="">
                </div>
                <div class="temple_list_modal_temple_desc pull-left">
                  <p>{{temple.title}}</p>
                  <p ng-if="temple.address">{{temple.address}}</p>
                </div>
              </a>
            </li>
          </ul>

          <div ng-if="dataLoaded && emptyResults" class="temple_list_modal_empty_list"
               my-vertical-position="0.2" padding="true">
            <div my-i18n="user_temple_list_modal_empty_list"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>