<div class="countries_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head md_modal_head_simple">
    <div class="md_modal_actions_wrap clearfix">
      <a class="md_modal_action" ng-click="goBack()" my-i18n="prv_city_select_modal_back"></a>
    </div>
    <div class="md_modal_title" my-i18n="prv_city_select_modal_title"></div>
  </div>

  <div class="md_modal_body">

    <div class="countries_modal_search">
      <input class="form-control countries_modal_search_field no_outline" my-focused type="search" placeholder="{{'modal_search' | i18n}}" ng-model="search.query" autocomplete="off" />
      <a class="countries_modal_search_clear tg_search_clear" ng-click="search.query = ''" ng-show="search.query.length">
        <i class="icon icon-search-clear"></i>
      </a>
    </div>

    <div class="countries_modal_col" prv-countries-list>
      <div class="countries_wrap nano" my-infinite-scroller>
        <div class="contacts_scrollable_wrap nano-content">

          <div ng-if="!dataLoaded" class="prv_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="sessions_modal_loading">
            <my-i18n-param name="dots">
              <span my-loading-dots></span>
            </my-i18n-param>
          </div>

          <ul ng-if="dataLoaded" class="contacts_modal_members_list nav nav-pills nav-stacked">
            <li class="contacts_modal_contact_wrap clearfix" ng-repeat="city in cities | limitTo: slice.limit track by city.id">
              <a class="contacts_modal_contact" ng-click="citySelect(city)">{{city.name}}</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</div>