@import "lib/mixins";

/* app common css */

html {
  background: #e7ebf0;
  overflow: visible;
}

body {
  color: #000;
  background: none;
  font: 12px/18px 'Open Sans', "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  overflow: hidden;

  &.non_osx {
    font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
  }
}

h1, h2, h3, h4, h5 {
  color: #222;
}

.non_osx {
  h4 {
    font-size: 17px;
  }
}

.noselect {
  .user-select(none);
}

.hasselect {
  .user-select(text);
}

.copyonly {
  color: transparent;
  display: inline-block;
  vertical-align: baseline;
  width: 1px;
  height: 0px;
  background: none 0 no-repeat;
  font-size: 0px;
  float: left;
  text-rendering: auto;
  .user-select(none);
}
.nocopy::before {
  content: attr(data-content);
}

pre {
  margin-bottom: 0;
  overflow: auto;
  padding: 3px;
  border: 1px solid #eee;
  max-height: none;
  font-size: inherit;
}

a {
  cursor: pointer;

  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}

.form-control {
  border: 1px solid #d9dbde;
  border-radius: 2px;

  .box-shadow(none);

  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;

    @shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    .box-shadow(@shadow);
  }

  &.no_outline {
    &:focus {
      border: 1px solid #d9dbde;
      outline: none;

      .box-shadow(none);
    }
  }

  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: #b3b3b3;
  }
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance:textfield;
}

.btn {
  border: 0;
  padding: 7px 13px;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &:active:focus,
  &.active:focus,
  .open &.dropdown-toggle {
    .box-shadow(none);
    outline: none;
  }
}

.btn-success {
  color: #ffffff;
  background-color: #6ec26d;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open &.dropdown-toggle {
    color: #ffffff;
    background-color: #61b75b;
  }

  &:active,
  &.active,
  .open &.dropdown-toggle {
    background: #66b864;
    background-image: none;
  }
}

.btn-danger {
  color: #ffffff;
  background-color: #c05f5a;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open &.dropdown-toggle {
    color: #ffffff;
    background-color: #ab5450;
  }

  &:active,
  &.active,
  .open &.dropdown-toggle {
    background: #a24f4b;
    background-image: none;
  }
}

.btn-primary {
  color: #ffffff;
  background-color: #6490b1;
  border-radius: 3px;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open &.dropdown-toggle {
    color: #ffffff;
    background-color: #4a80a9;
  }

  &:active,
  &.active,
  .open &.dropdown-toggle {
    background: #41769e;
    background-image: none;
  }

  &[disabled],
  &.disabled {
    background: #7999b3;
  }
}

.btn-link {
  color: #3a6d99;
  text-decoration: none !important;
  border-radius: 3px;
  overflow: hidden;

  &:hover {
    background: #f2f6fa;
  }

  &.btn-link-noarea:hover,
  &.dropdown-toggle:hover {
    background: none;
  }

  &.dropdown-toggle:active {
    outline: none;
  }
}

.btn-md {
  background: none;
  text-decoration: none !important;
  border-radius: 2px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 13px;
  padding: 6px 10px;
  font-weight: bold;

  &,
  &:focus,
  &:hover {
    color: #72a0c7;
  }

  &:hover {
    background: #f2f6fa;
  }
}

.btn-md-primary {
  &,
  &:focus,
  &:hover {
    color: #4680b3;
  }
}

.btn-md-danger {
  &,
  &:focus,
  &:hover {
    color: #c05f5a;
  }

  &:hover {
    background: #fbe7e6;
  }
}

.md-input-group {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  margin: 0 0 22px;
}
.md-textarea-group {
  height: 66px;
}
.md-input-grouped {
  margin-bottom: 12px;
}

.md-input-label {
  font-weight: normal;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin: 0;
  padding: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: left center;
  -webkit-transform-origin: left center;

  -webkit-transform: translate3d(0, 22px, 0);
  transform: translate3d(0, 22px, 0);

  span.ng-enter-prepare {
    display: none;
  }
}

.md-input-animated {
  .md-input-group,
  .md-input-label {
    -webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  }
}

.md-input {
  color: #000;
  background: #fff;
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 13px;
  padding: 3px 0;
  margin: 3px 0 0;
  width: 100%;
  resize: none;

  .box-shadow(none);
}
.md-input-disabled .md-input {
  color: #999;
}
.md-input-focused {
  border-bottom: 2px solid #6bace1;
}

.md-input-error {
  border-bottom: 2px solid #e2726f;

  .md-input-label {
    color: #d45a58;
  }
}

.md-input-has-value {
  .md-input-label {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.md-input-group-centered {
  &,
  .md-input {
    text-align: center;
  }

  .md-input-label {
    transform-origin: center center;
    -webkit-transform-origin: center center;
  }
}

.md_modal {
  &_head {
    color: #fff;
    background: #5580a3;
    padding: 0 0 28px 26px;
  }

  &_head_simple {
    padding-bottom: 13px;
  }

  &_actions_wrap {
    float: right;
  }
}

a {
  &.md_modal_action {
    display: block;
    float: right;
    color: #dde8f1;
    padding: 19px 15px 5px;
    font-weight: bold;
  }

  &.md_modal_action:hover {
    color: #fff;
  }

  &.md_modal_action_close {
    padding-right: 22px;
  }

  &.md_modal_action:hover,
  &.md_modal_action:focus,
  &.md_modal_action:active {
    text-decoration: none;
  }
}

.md_modal_title {
  font-weight: bold;
  padding: 18px 0 5px;
  font-size: 13px;
}

.navbar_offline {
  .navbar-header,
  .navbar-offline > li {
    float: left;
  }
}

.navbar-offline {
  max-width: 400px;
  margin: 0 auto;
  float: none;

  &-text {
    color: #b9cfe3;
    padding: 13px 15px;
    font-size: 13px;
    display: block;
    line-height: 20px;
  }
}

.tg_progress {
  height: 12px;
  margin: 0;
  padding: 0;
  background: rgba(255,255,255, 0.4);
  border: 5px solid rgba(0,0,0, 0.5);
  border-radius: 3px;

  .progress-bar {
    height: 5px;
    line-height: 2px;
    background: rgba(255,255,255, 0.9);
    border-radius: 0;
    overflow: hidden;
  }
}

.progress-arc-wrap {
  display: block;
  border-radius: 100%;

  transform-origin: center center;
  -webkit-animation:  infinite_rotation 0.8s linear infinite;
  -moz-animation:     infinite_rotation 0.8s linear infinite;
  -ms-animation:      infinite_rotation 0.8s linear infinite;
  animation:          infinite_rotation 0.8s linear infinite;
}
.progress-arc .progress-arc-bar {
  stroke-dashoffset: 0;
  transform-origin: center center;
  fill: transparent;

  .progress-arc-intermediate & {
    stroke: #68a4d1;
  }

  .composer_progress_icon & {
    stroke: #b3b3b3;
  }

  .progress-arc-percent & {
    stroke: #FFF;
    stroke: rgba(255,255,255,0.95);

    transition: stroke-dasharray 500ms linear;
  }
}
.stop0 {
  stop-opacity: 1.0;
  stop-color: #68a4d1;
  .composer_progress_icon & {
    stop-color: #b3b3b3;
  }
}
.stop60 {
  stop-opacity: 1.0;
  stop-color: #68a4d1;
  .composer_progress_icon & {
    stop-color: #b3b3b3;
  }
}
.stop100 {
  stop-opacity: 0.0;
  stop-color: #68a4d1;
  .composer_progress_icon & {
    stop-color: #b3b3b3;
  }
}

/* Infinite rotation */
@-webkit-keyframes infinite_rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes infinite_rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-ms-keyframes infinite_rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes infinite_rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}



.dropdown-menu {
  border-radius: 2px;
  padding: 0;

  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.175));

  &-to-up {
    top: auto;
    bottom: 100%;
    margin: 0 0 3px;
  }
}

.dropdown-menu {
  & > li {
    & > a {
      padding: 5px 14px;
      font-size: 13px;
    }
  }
}

.modal-backdrop {
  background: rgba(26, 26, 26, 0.7);
  opacity: 1 !important;
  /*opacity: 0.25 !important;*/
}
.modal.fade .modal-dialog {
  .noTransition();
}
.modal.fade,
.modal-backdrop.fade {
  .noTransition();
}

.text-invisible {
  visibility: hidden;
}

.modal {
  overflow-y: auto;
  padding: 10px;

  &-dialog {
    margin: 0 auto;
  }

  &-content {
    border: 0;
    border-radius: 0;

    .box-shadow(0 1px 10px rgba(0, 0, 0, 0.15));
  }

  &-header {
    padding: 12px 0 4px 3px;
    border-bottom: 2px solid #E1E1E1;
    margin: 0 18px;
  }

  &-title {
    color: #222;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.4;
  }

  &-close-link,
  &-head-link {
    font-size: 12px;
    line-height: 1.4;
    float: right;
    padding: 0 2px 0;
    margin: 6px 2px 0 0;

    &:hover {
      text-decoration: none;
    }
  }

  &-head-link {
    margin-right: 15px;
  }

  &-close-button {
    position: absolute;
    z-index: 1051;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;

    i {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 21px;
      opacity: 0.8;
      .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
      background-position: -15px -320px;
    }
  }

  &-close-button:hover {
    i {
      opacity: 1;
    }
  }

  &-body {
    padding: 14px 14px;
  }

  &-footer {
    padding: 0 14px 13px;
    margin: 0;
    border-top: 0;
  }
}

.modal_simple {
  &_header {
    font-size: 14px;
    margin: 0 0 10px;
    text-align: center;
    font-weight: bold;
  }

  &_form {
    max-width: 276px;
    margin: 0 auto;
    /*padding: 70px 0 50px;*/

    h4 {
      font-size: 14px;
      margin-bottom: 38px;
      text-align: left;
    }

    .form-group {
      margin-bottom: 13px;
    }
  }

  &_form_description {
    color: #777;
    line-height: 160%;
    margin: 10px 0 0;
    text-align: justify;
  }
}

.md_simple {
  &_header {
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: bold;
  }

  &_modal_body {
    padding: 40px 37px 0;

    .modal_simple_form {
      max-width: none;
      margin: 0;
      padding: 0;
    }

    .modal_simple_form h4 {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 38px;
      text-align: left;
      font-weight: bold;
    }
  }

  &_form_description {
    color: #777;
    line-height: 160%;
    margin: 0 0 10px;
    text-align: justify;
  }

  &_modal_footer {
    text-align: right;
    padding: 10px 27px 15px;

    .btn {
      margin-left: 10px;
    }
  }
}

.modal_section {
  &_header {
    font-size: 12px;
    line-height: 14px;
    color: #999;
    background: #f5f5f5;
    padding: 7px 14px;
    margin: 0;
  }

  &_body {
    padding: 14px 14px;

    p,
    dl {
      margin: 5px 0;
    }
  }

  &:last-child &_body {
    padding-bottom: 8px;
  }
}

a.tg_checkbox {
  color: #000;
  display: block;
  line-height: 18px;
  padding: 8px 0;
  margin: 9px 0;

  &:hover {
    text-decoration: none;
  }
}

.tg_checkbox {
  span.icon-checkbox-outer {
    float: right;
    display: inline-block;
    background-color: #e6e6e6;
    width: 36px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    border-radius: 8px;
    margin: 3px 0px 3px 0;
    -webkit-transition: background-color ease-in-out 0.1s;
    transition: background-color ease-in-out 0.1s;
  }

  &.tg_checkbox_on span.icon-checkbox-outer {
    background-color: #bfd9ed;
  }

  i.icon-checkbox-inner {
    display: inline-block;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    margin-left: -1px;
    margin-top: -3px;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    border: 1px solid #E7E7E7;

    .box-shadow(0px 0px 1px rgba(0, 0, 0, 0.05));
  }

  &.tg_checkbox_on i.icon-checkbox-inner {
    background: #6b9bc2;
    margin-left: 16px;
    border: 0;

    .box-shadow(none);
  }
}

.tg_checkbox_label {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}
/*a.tg_checkbox:hover span.icon-checkbox-outer {
  background: #bdbdbd;
}
a.tg_checkbox_on:hover span.icon-checkbox-outer {
  background: #5785aa;
}
a.tg_checkbox:hover i.icon-checkbox-inner {
  background: #f2f2f2;
}*/
.tg_radios_wrap {
  margin: 15px 0;
}

.tg_radio {
  a& {
    color: #000;
    display: block;
    line-height: 20px;
    padding: 5px 0 6px;

    &:hover {
      text-decoration: none;
    }
  }

  .icon-radio-outer {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 10px;
    border: 2px solid #d8d8d8;
    overflow: hidden;
    margin: 0 8px 0 0;

    -webkit-transition: border-color ease-in-out 0.1s;
    transition: border-color ease-in-out 0.1s;
  }
}

i.icon-radio {
  display: inline-block;
  background-color: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 8px;
  border: 3px solid #fff;
  -webkit-transition: background-color ease-in-out 0.1s;
  transition: background-color ease-in-out 0.1s;
}

.tg_radio.tg_radio_on .icon-radio-outer {
  border-color: #5c8db3;
}
.tg_radio.tg_radio_on i.icon-radio {
  background-color: #6b9bc2;
}
a.tg_radio:hover i.icon-radio {
  background-color: #f2f2f2;
}
a.tg_radio_on:hover i.icon-radio {
  background-color: #5785aa;
}

.tg_radio_label {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}
.tg_range_wrap {
  line-height: 18px;
}
.tg_slider_wrap {
  position: relative;
  cursor: pointer;
  line-height: 18px;
  height: 18px;
}
.tg_slider_track {
  position: absolute;
  background: #c4daec;
  height: 4px;
  margin: 7px 0;
  width: 100%;
  z-index: 2;
}
.tg_slider_track_fill {
  background: #83afd2;
  height: 4px;
}
.tg_slider_thumb {
  position: absolute;
  border: 0;
  background: #6b9bc2;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  z-index: 3;
}

.tg_form_group {
  padding: 6px 0;

  &:first-child {
  padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.img_fullsize_with_progress_wrap {
  position: relative;
  margin: 0 auto;
}
.img_fullsize_progress_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.img_fullsize_progress_wrap {
  position: relative;
}
.img_fullsize_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0, 0.5);
  border: 0;
  border-radius: 0;
  padding: 10px;
}

.nano-content {
  outline: none !important;
}

/* Login page */
.login_head_bg {
  background: #5682a3;
  height: 226px;
}
.login_page {
  margin: -131px auto 90px;
  max-width: 404px;
}
.login_head_wrap {
  height: 75px;
}
.login_head_logo_link {
  display: inline-block;
  line-height: 30px;
  padding: 23px 15px 22px;
}
.tg_logo_wrap {
  line-height: 30px !important;
}
.icon-tg-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;

  .image-2x('../img/icons/General.png', 40px, 948px);
  background-position: -5px -10px;
}
.icon-tg-title {
  width: 62px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/Telegram.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 1px;
}
.login_head_submit_wrap,
.login_head_submit_progress {
  float: right;
}
.login_head_submit_wrap {
  font-weight: bold;
}
.login_head_submit_btn,
.login_head_submit_progress {
  font-size: 13px;
  line-height: 20px;
  padding: 27px 15px 28px;
  display: inline-block;
  color: #fff;
}
.login_head_submit_btn:hover,
.login_head_submit_btn:focus,
.login_head_submit_btn:active {
  color: #fff;
  text-decoration: none;
}
.icon-next-submit {
  width: 7px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-top: -1px;

  .image-2x('../img/icons/General.png', 40px, 948px);
  background-position: -18px -50px;
}

.login_footer_wrap {
  color: #84a2bc;
  font-size: 13px;
  line-height: 16px;
  margin-top: 25px;
  text-align: center;
}
.logo_footer_learn_more_link,
.logo_footer_learn_more_link:hover,
.logo_footer_learn_more_link:focus,
.logo_footer_learn_more_link:active {
  color: #84a2bc;
  font-weight: bold;
}

.login_form_wrap {
  background: #fff;
  padding: 44px 65px 44px;

  @shadow: 0px 1px 1px rgba(97, 127, 152, 0.2),
           1px 0px 0 rgba(97, 127, 152, 0.1),
           -1px 0px 0 rgba(97, 127, 152, 0.1);

  .box-shadow(@shadow);

  border-radius: 2px;
  border: 0;
  margin: 0;
  max-width: none;
}
.login_phone_country_input_group {
  cursor: pointer;
}
.login_phone_num_input_group {
  overflow: hidden;
}
.login_phone_code_input_group {
  float: left;
  width: 50px;
  margin-right: 25px;
}

.login_footer_about_wrap {
  background: #fff;
  margin-top: 12px;
  padding: 44px 65px 44px;

  .box-shadow(0px 1px 0 #dfe5ec);

  border-radius: 3px;
  border: 1px solid #dfe5ec;

  h3 {
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  p {
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 160%;

    &:last-child {
      margin: 0;
    }
  }
}

.login_form_head {
  color: #222222;
  margin: 0 0 20px;
  font-size: 15px;
  font-weight: bold;
}
.login_form_lead {
  color: #999;
  margin: 15px 0 30px;
  font-size: 13px;
  line-height: 160%;
}
.login_form_hint {
  color: #999;
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 160%;
}
.login_form_messaging {
  color: #999;
  font-size: 13px;
  margin-top: 20px;
  line-height: 160%;
}
.login_phone_head {
  color: #222222;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.login_edit_phone {
  margin: 5px 0 15px;
  text-align: center;
}
.login_smscode_lead {
  color: #999;
  margin: 15px 0 15px;
  line-height: 160%;
  text-align: center;

  &:last-child {
    margin-bottom: 30px;
  }
}

.login_forgot_button {
  text-align: center;
  margin: 30px 0 10px;
}
.login_reset_button {
  text-align: center;
  margin: 10px 0 0;
}

/* IM page start */

/* Dialogs list */
.im_dialogs_empty_wrap {
  margin: 60px 50px;
  text-align: center;
}
.im_dialogs_empty_header {
  font-size: 15px;
  color: #808080;
  margin: 0 0 15px;
}
.im_dialogs_empty_lead {
  color: #808080;
  margin-bottom: 18px;
}
.im_dialogs_import_phonebook {
  margin-top: 10px;
}
.im_dialogs_panel {
  padding: 12px 12px 12px;
  position: relative;
  .im_dialogs_modal_col_wrap & {
    padding: 7px 12px 6px;
    .box-shadow(0px 1px 1px rgba(0,0,0,0.15));
    z-index: 1;
  }
}
.im_dialogs_search {
  position: relative;
}

.im_dialogs_search_field {
  font-size: 12px;
  line-height: normal;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  padding: 6px 26px 6px 30px;
  margin: 0 0 0;

  background-color: #F2F2F2;
  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -6px -205px;

  .im_dialogs_modal_col_wrap & {
    background-color: #fff;
    border-color: #fff !important;
  }

  &:focus,
  &:active {
    background-color: #fff;
  }

  &::-ms-clear {
    display: none;
  }
}

a.tg_search_clear {
  position: absolute;
  right: 0;
  margin-top: -34px;
  width: 34px;
  height: 34px;
  opacity: 0.6;

  .contacts_modal_search & {
    right: 12px;
  }

  &:hover {
    opacity: 1;
  }
}

i.icon-search-clear {
  display: inline-block;
  color: #999;
  width: 13px;
  height: 13px;
  margin: 10px 0 0 11px;
  vertical-align: text-top;
  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -15px -192px;
}

i.icon-verified {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: text-top;
  .image-2x('../img/icons/ProfileIcons.png', 40px, 420px);
  background-position: -11px -373px;

  .im_dialogs_scrollable_wrap & {
    display: none;
  }
  .im_dialogs_col_search & {
    display: inline-block;
  }

}

.im_dialogs_scrollable_wrap {
  outline: none ! important;

  .im_dialog_wrap {
    margin-top: 0;
  }

  a.im_dialog {
    clear: both;
    overflow: hidden;
    color: #000;
    padding: 8px 9px;
    border-radius: 0;

    &:hover,
    &_selected {
      border-radius: 0;
      background: #f2f6fa;
    }

    .icon,
    .glyphicon {
      display: none;
    }
  }

  .active {
    a.im_dialog {
      border-radius: 0;
      background-color: #6490b1;

      &:hover,
      &_selected {
        background-color: #6490b1;
      }
    }
  }
}

.im_dialogs_modal_list {
  padding-top: 10px;
}

.im_dialog_message_wrap {
  overflow: hidden;
  word-wrap: break-word;
}

.im_dialog_message_typing,
.im_dialog_message_wtyping .im_dialog_message_notyping {
  display: none;
}
.im_dialog_message_wtyping .im_dialog_message_typing {
  display: block;
}


a.im_dialog {
  .im_dialog_chat_from_wrap,
  .im_short_message_media,
  .im_short_message_service {
    color: #3a6d99;
  }
  .im_short_message_text {
    color: #808080;
  }
  .im_dialog_draft_from {
    color: #c05f5a;
  }
}


a.im_dialog:hover,
a.im_dialog_selected {
  .im_short_message_text {
    color: #698192;
  }
}

.active {
  a.im_dialog {
    .im_dialog_chat_from_wrap,
    .im_short_message_media,
    .im_short_message_service,
    .im_short_message_text,
    .im_dialog_message,
    .im_dialog_draft_from {
      color: #fff;
    }
  }
}

.im_dialog_peer {
  color: #222;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;

  .active & {
    color: #fff;
  }
}

.im_dialog_badge {
  background: #64c270;
  font-size: 11px;
  padding: 5px;
  border-radius: 11px;
  min-width: 21px;
  text-align: center;
  margin-top: 4px;

  .active & {
    color: #428bca;
    background-color: #fff;
  }

  .im_dialogs_modal_col & {
    display: none;
  }
  &_muted {
    background: #bfbfbf;
  }
}

.im_dialog_unread {
  background: #c1d6e5;
  display: inline-block;
  float: right;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0 0;

  a.im_dialog:hover &,
  a.im_dialog_selected & {
    background: #a3c0d4;
  }

  .active & {
    background-color: #a4c4dd;
  }
}

.im_dialog_date {
  color: #b3b3b3;
  font-size: 0.85em;

  a.im_dialog:hover &,
  a.im_dialog_selected & {
    color: #91a6ba;
  }
  .active &,
  .active a.im_dialog:hover &,
  .active a.im_dialog_selected & {
    color: #b8d1e4;
  }
}

.im_dialog_message,
.im_dialog_peer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.im_dialog_message {
  color: #808080;
}

/* IM history */
.icon-caret {
  width: 8px;
  height: 4px;

  display: inline-block;
  vertical-align: text-top;
  margin-top: 7px;
  margin-left: 6px;

  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -17px -444px;
}

.im_dialogs_empty_header {
  font-size: 15px;
  color: #808080;
  margin: 0 0 15px;
}
.im_dialogs_empty_lead {
  color: #808080;
  margin-bottom: 18px;
}
.im_history_scrollable_wrap {
  outline: none ! important;
  position: relative;
}

.im_history_to_bottom {
  overflow: hidden;

  .im_history_scrollable {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.im_history {
  // padding: 20px 0 0 0;
  padding: 0;
  position: relative;
}
.im_message_unread_split {
  background: #f0f4f7;
  color: #8096a8;
  text-align: center;
  padding: 4px 10px;
  margin: 10px 0;
}

.im_message_author,
.im_message_fwd_author {
  color: #3a6d99;
  font-weight: bold;
}
.im_message_author_via,
.im_message_fwd_via {
  color: #3a6d99;
  &:hover {
    text-decoration: none;
    & .im_message_fwd_author {
      text-decoration: underline;
    }
  }
}
.non_osx .im_message_author_wrap,
.non_osx .im_message_fwd_author_wrap {
  font-size: 12px;
}
.im_message_author_via {
  color: #3a6d99;
  margin-left: 5px;
}
.im_message_fwd_via {
  margin-left: 0;
}

.im_message_from_photo,
.im_message_contact_photo,
.im_message_fwd_photo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;

  .peer_initials {
    line-height: 42px;
  }
}

a.im_message_from_photo,
a.im_message_contact_photo {
  margin: 0 15px 0 0;
}
.non_osx .im_message_contact_name {
  font-size: 12px;
}
.im_message_contact_name {
  font-weight: bold;
}
.im_message_contact_name,
.im_message_contact_phone {
  white-space: nowrap;
}
a.im_message_photo_thumb,
a.im_message_video_thumb {
  display: block;
  overflow: hidden;
  border-radius: 2px;
}
img.im_message_photo_thumb,
img.im_message_video_thumb {
  overflow: hidden;
  border-radius: 2px;
}
.im_message_video,
a.im_message_photo_thumb {
  margin-top: 5px;
}
a.im_message_video_thumb {
  float: left;
  margin-right: 15px;
  position: relative;
}

img.im_message_video_thumb_blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

div.im_message_video_thumb {
  position: relative;
}
.im_message_video_duration {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 2px 6px;
  font-size: 11px;
  line-height: 15px;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.icon-videoplay {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  width: 42px;
  height: 42px;
  z-index: 1;

  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: 0 -590px;
  .is_2x & {
    background-position: 0 -591px;
  }
}

.im_message_geopoint {
  border-radius: 2px;
  margin-top: 5px;
  overflow: hidden;
  display: block;
  position: relative;
  width: 300px;
  height: 150px;
}


.im_message_venue_geopoint_wrap {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;
  border-radius: 2px;
  background: #f2f2f2;
  text-align: center;
  line-height: 0;
}

.icon-geo-point {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -15px;
  width: 15px;
  height: 19px;

  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -14px -389px;
}

.im_message_media_embed {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-top: 5px;

  iframe,
  webview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.im_message_webpage_wrap {
  margin: 3px 0 3px;
  border-left: 2px solid #7eaad1;
  padding-left: 12px;
}
.im_message_webpage_site {
  color: #999;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 3px;
}
.im_message_webpage_title {
  font-weight: bold;
  // margin-right: 4px;
}
.im_message_sign {
  padding-top: 1px;
}
.im_message_sign_link {
  pointer-events: none;
  color: #adadad;
  font-size: 0.95em;
}
.icon-circle {
  display: none;
  // display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em;
  background: #999;
  overflow: hidden;

  vertical-align: middle;
  margin: -2px 3px 0;
}
.im_message_webpage_description {
  margin: 2px 0 2px;
}
.im_message_webpage_article_photo {
  display: block;
  margin: 5px 0 5px 5px;
}
.im_message_article_thumb {
}

.im_message_video_embed {
  padding-bottom: 56.25%; /* 16/9 ratio */
}
.im_message_insta_embed {
  padding-bottom: 122%;
}
.im_message_vine_embed {
  padding-bottom: 100%;
}
.im_message_soundcloud_embed {
  padding-bottom: 56.25%; /* 16/9 ratio */
}
.im_message_spotify_embed {
  width: 300px;
  height: 80px;
}
.im_message_twitter_embed > blockquote {
  visibility: hidden;
}
.im_message_webpage_gif .img_gif_with_progress_wrap {
  margin-top: 5px;
  display: block;
}

.im_message_gif_wrap {
  position: relative;
}
.im_message_gif_btn {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  margin-top: -21px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  z-index: 1;
}

.im_message_video,
.im_message_document,
.im_message_upload_file,
.im_message_audio {
  margin-top: 3px;
  width: 317px;
}
.im_message_audio {
  margin-top: 3px;
}
.im_message_file_button {
  display: block;
  background: rgba(218,228,234,0.50);
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.im_message_file_button_icon {
  display: inline-block;
  line-height: 0;
  width: 12px;
  height: 18px;
  margin: 12px 15px;

  .image-2x('../img/icons/General.png', 40px, 948px);
  background-position: -14px -509px;

  .im_message_file_button_dl_doc & {
    background-position: -12px -561px;
    width: 16px;
    height: 18px;
    margin: 13px 13px;
  }
}

.im_message_file_button_dl_audio {
  background: #6490b1;
  border-radius: 50%;

  .im_message_file_button_icon {
    display: block;
    width: 14px;
    height: 16px;
    margin: 13px 16px;

    .image-2x('../img/icons/General.png', 40px, 948px);
    background-position: -13px -611px;
  }

  &,
  .is_1x & {
    .audio_player_btn_icon_pause {
      width: 12px;
      height: 14px;
      background-position: -14px -587px;
      margin: 14px 15px;
    }
  }
}

.im_message_selected .icon-document,
.im_history_select_active .im_message_outer_wrap:hover .icon-document {
  background-color: #dae6f0;
  background-position: -2px -542px;
}

.im_history_select_active {
  a,
  button,
  .clickable {
    pointer-events: none;
  }
}

.im_message_document_link_disabled {
  cursor: default;
  pointer-events: none;
}
.im_message_document_info {
  float: left;
}
.im_message_document_thumb_wrap {
  border-radius: 2px;
  overflow: hidden;
  background: #f2f2f2;
  width: 100px;
  min-height: 38px;
  max-height: 100px;
  margin-right: 10px;
  text-align: center;
  float: left;
  line-height: 0;
}
img.im_message_document_thumb {
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}
.im_message_document_name_wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 265px;
  padding: 0 0 1px;
}
.im_message_document_actions {
  width: 265px;
}
.im_message_document_name {
  color: #3a6d99;
  display: inline-block;
  font-weight: bold;
  max-width: 170px;
  overflow: hidden;
  vertical-align: text-top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.im_message_document_size {
  color: #999;
  padding-left: 2px;
  vertical-align: text-top;
}
.im_message_document_actions a,
.audio_player_actions a {
  margin-right: 10px;
}
.audio_player_title_wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1px 0 1px;
  line-height: 16px;
  height: 19px;
  width: 200px;
}
.audio_player_title {
  display: inline-block;
  font-weight: bold;
  max-width: 100px;
  overflow: hidden;
  vertical-align: text-top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon-audio-unread {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #4eabf1;
  border: 0;
  border-radius: 4px;
  margin: 5px 5px 0 2px;
  vertical-align: text-top;
}
.audio_player_meta {
  overflow: hidden;
  vertical-align: text-top;
  display: inline-block;
}
.audio_player_size,
.audio_player_duration {
  color: #999;
  padding-left: 2px;
}
.audio_player_actions {
  margin-top: 3px;
}

.audio_player_seek {
  &_slider {
    float: left;
    margin-right: 15px;
    width: 200px;

    .tg_slider_wrap {
      height: 18px;
      line-height: 18px;
    }

    .tg_slider_track {
      margin: 7px 0;
      background: rgba(218,228,234,0.50);
      height: 4px;
      border-radius: 0;
    }

    .tg_slider_track_fill {
      background: #6490b1;
      height: 4px;
      width: 0;
    }

    .tg_slider_thumb {
      display: none;
    }

    &:hover {
      .tg_slider_thumb {
        display: block;
      }
    }
  }
}

.audio_player_volume_slider {
  width: 50px;
  float: left;

  .tg_slider_wrap {
    height: 18px;
    line-height: 18px;
  }

  .tg_slider_thumb {
    display: none;
    background: #6490b1;
    width: 4px;
    height: 10px;
    line-height: 16px;
    margin-top: 4px;
    border-radius: 0;
  }

  &:hover {
    .tg_slider_thumb {
      display: block;
    }
  }

  .tg_slider_track {
    margin: 7px 0;
    background: rgba(218,228,234,0.50);
    height: 4px;
  }

  .tg_slider_track_fill {
    background: #6490b1;
    height: 4px;
    width: 0;
  }
}

.audio_player_progress_wrap {
  overflow: hidden;

  .tg_down_progress {
    margin-top: 5px;
  }
}

.im_message_upload_progress_wrap,
.im_message_download_progress_wrap {
  margin-top: 5px;
  width: 200px;
}

.im_message_document_thumbed {
  .im_message_document_name_wrap,
  .im_message_upload_progress_wrap,
  .im_message_download_progress_wrap,
  .im_message_document_actions {
    width: 207px;
  }
  .im_message_document_name {
    max-width: 110px;
  }
}

.im_message_video {
  .im_message_document_name_wrap,
  .im_message_download_progress_wrap,
  .im_message_document_actions {
    width: 152px;
  }

  .im_message_document_name_wrap {
    margin-top: 5px;
  }
}

.im_message_cancelable_progress_wrap,
.im_message_playback_progress_wrap {
  margin-top: 4px;
  /*width: 265px;*/
}
.im_message_media_progress_cancel {
  margin-left: 15px;
  line-height: 100%;
  width: 50px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tg_up_progress,
.tg_down_progress {
  height: 4px;
  margin: 0;
  padding: 0;
  background: rgba(218,228,234,0.50);
  border: 0;
  border-radius: 0;

  .box-shadow(none);

  .progress-bar {
    height: 4px;
    line-height: 4px;
    background: #6B9ABD;
    border-radius: 0;
    overflow: hidden;

    .box-shadow(none);
  }
}

.im_service_message_wrap {
  text-align: center;
}
.im_bot_intro_message_wrap {
  max-width: 300px;
  padding: 4px 10px;
  margin: 10px auto;
  color: #000;
  line-height: 1.4;
  text-align: left;
  font-size: 13px;
}
.im_bot_intro_message_header {
  font-weight: bold;
  text-align: center;
}
.im_bot_intro_message {
  margin-top: 10px;
}
.im_service_message {
  display: block;
  min-width: 10px;
  padding: 4px 7px;
  line-height: 1.4;
  color: #999;
  text-align: center;
  border-radius: 10px;
  margin: 5px 0;
}
.im_service_message_photo_thumb {
  display: inline-block;
  margin: 0 auto;
}
.im_service_message .im_service_message_pinned {
  color: inherit;
  font-weight: bold;
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.im_message_date,
.im_message_fwd_date {
  color: #adadad;
  font-size: 0.85em;
  padding: 0 0 20px 10px;
}

.im_message_date {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

div.im_message_author,
div.im_message_body {
  display: block;
  overflow: hidden;
}

// .im_message_meta,
.im_message_body {
  .user-select(text);
}

.im_message_error_btn {
  display: none;

  .im_message_error & {
    display: inline;
  }

  .icon-message-status {
    background: #da564d;
    opacity: 0.85;
    pointer-events: auto;

    &:hover {
      opacity: 1;
    }
  }
}


.im_message_views_wrap {
  position: relative;
}
.im_message_views {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  line-height: normal;
}
.im_message_views_inline {
  display: inline-block;
  white-space: nowrap;
  // line-height: normal;
  font-size: 0.85em;
  margin-left: 5px;
}
.icon-message-views {
  display: inline-block;
  width: 16px;
  height: 11px;
  .image-2x('../img/icons/General.png', 40px, 948px);
  background-position: -12px -850px;
  vertical-align: text-bottom;
  margin-right: 0.3rem;

  .message_focus &,
  .im_message_selected &,
  .im_history_select_active .im_message_outer_wrap:hover & {
    background-position: -12px -871px;
  }
}
.im_message_views_cnt {
  color: #adadad;
  font-weight: bold;
  vertical-align: top;
}

.im_message_reply_wrap {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 2px;
  overflow: hidden;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.im_message_reply_border {
  background: #7eaad1;
  height: 33px;
  width: 2px;
  position: absolute;
  margin-left: -12px;
}
.im_message_reply {
  padding-left: 12px;
}
.im_message_reply_thumb_wrap {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  text-align: center;
  position: absolute;
}
.im_message_reply_author {
  font-weight: bold;
  color: #3a6d99;
  line-height: 16px;
  margin-bottom: 3px;
}
.non_osx .im_message_reply_author {
  font-size: 12px;
}
.im_message_reply_loading {
  padding: 7px 0 8px;
}
.im_message_reply_body .im_short_message_service,
.im_message_reply_body .im_short_message_media {
  color: #999;
}
.im_message_reply_body {
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 1px;
}

.im_message_reply_thumbed {
  .im_message_reply_wrap,
  .im_message_reply_border {
    height: 42px;
  }

  .im_message_reply_author {
    margin-top: 4px;
  }

  .im_message_reply_author,
  .im_message_reply_body {
    margin-left: 52px;
  }

  .im_message_reply_wrap & {
    margin-bottom: 4px;
  }
}

a.im_message_fwd_photo {
  position: absolute;
  margin-top: 1px;
}
.im_message_fwd_date {
  padding: 0;
}
.im_message_text {
  word-wrap: break-word;
  line-height: 150%;
  white-space: pre-wrap;
}
.im_message_photo_caption,
.im_message_video_caption,
.im_message_document_caption {
  margin-top: 3px;
  clear: both;
  word-wrap: break-word;
  line-height: 150%;
  white-space: pre-wrap;
}
.im_message_mymention {
  background: #fff8cc;
}

.reply_markup_wrap {
  margin: 15px -2px 0;

  .im_message_keyboard & {
    margin-top: 7px;
  }
}
.reply_markup_row {
  padding: 4px 0;
  line-height: 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  .reply_markup_scrollable_wrap.active-scrollbar & {
    margin-right: 6px;
  }
}
.reply_markup_button_wrap {
  display: inline-block;
  padding: 0 4px;
}
.reply_markup_button {
  color: #3a6d99;
  display: block;
  width: 100%;
  background: #f0f4f7;
  height: 30px;
  font-size: 13px;
  margin: 0;
  padding: 6px 6px;
  overflow: hidden;
  text-overflow: ellipsis;

  .reply_markup_h1 & {
    height: 170px;
  }
  .reply_markup_h2 & {
    height: 81px;
  }
  .reply_markup_h3 & {
    height: 51px;
  }
  .reply_markup_h4 & {
    height: 36px;
  }
}
.reply_markup_button:focus,
.reply_markup_button:hover {
  color: #3a6d99;
  background: #dfe8f0;
}
.reply_markup_button_w1 {width: 100%;}
.reply_markup_button_w2 {width: 50%;}
.reply_markup_button_w3 {width: 33.3333333%;}
.reply_markup_button_w4 {width: 25%;}
.reply_markup_button_w5 {width: 20%;}
.reply_markup_button_w6 {width: 16.6666666%;}
.reply_markup_button_w7 {width: 14.2857142%;}
.reply_markup_button_w8 {width: 12.5%;}
.reply_markup_button_w9 {width: 11.1111111%;}
.reply_markup_button_w10 {width: 10%;}
.reply_markup_button_w11 {width: 9.09090909%;}
.reply_markup_button_w12 {width: 8.33333333%;}


.im_history_not_selected_wrap {
  display: none;
  .im_page_peer_not_selected & {
    display: block;
  }
}
.im_history_selected_wrap {
  display: none;
  .im_history_loaded & {
    display: block;
  }
  .im_page_peer_not_selected & {
    display: none;
  }
}
.im_history_selected_loading_wrap {
  display: block;
  .im_history_loaded & {
    display: none;
  }
  .im_page_peer_not_selected & {
    display: none;
  }
}

.im_history_not_selected,
.im_history_empty {
  visibility: hidden;
  text-align: center;
  color: #999;
  font-size: 16px;
  line-height: 18px;
  padding: 1px 50px;
  margin: 0;

  &.vertical-aligned {
    visibility: visible;
  }

  .im_history_to_bottom & {
    display: none;
  }
}
.im_history_loading {
  width: 35px;
  margin: 0 auto;
  visibility: hidden;

  &.vertical-aligned {
    visibility: visible;
  }
}

.im_history_loading_more {
  display: block;
  width: 26px;
  height: 46px;
  margin: 0 auto;
  padding: 20px 0 0;
  visibility: hidden;

  .progress-arc-wrap {
    display: none;
  }

  &.im_history_loading_more_active {
    visibility: visible;

    .progress-arc-wrap {
      display: block;
    }
  }
}
.im_history_loading_less {
  display: block;
  width: 26px;
  margin: 0 auto;
  visibility: hidden;

  .progress-arc-wrap {
    display: none;
  }

  &.im_history_loading_less_active {
    visibility: visible;

    .progress-arc-wrap {
      display: block;
    }
  }
}

.im_send_panel_wrap {
  margin: 0 auto;
  padding: 10px 15px 30px 15px;
}
.im_send_form_wrap {
  position: relative;
}
.im_send_form {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}
.im_attach_input,
.im_media_attach_input {
  cursor: pointer;
  font-size: 120px !important;
  opacity: 0.01;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;

  top: 0;
  right: 0;
}

.im_send_dropbox_wrap {
  background: #fff;
  display: none;
  padding: 17px 10px 0;
  border: 1px dashed #999;
  overflow: hidden;
  text-align: center;
  color: #999;
  position: absolute;
}
.im_send_field_wrap {
  position: relative;
}
textarea.im_message_field {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 6px;
  min-height: 50px;
  height: 50px;
  resize: none;
}
.im_inline_placeholder_wrap {
  color: #9aa2ab;
  position: absolute;
  margin-top: 2px;
  white-space: nowrap;
  pointer-events: none;
  text-overflow: ellipsis;
  display: none;
  width: 100%;
  width: ~"calc(100% - 30px)";
  overflow: hidden;
}
.im_inline_placeholder_wrap.active {
  display: block;
}
.im_inline_placeholder_prefix {
  visibility: hidden;
}

.icon-online {
  background: #6ec26d;
  border: 1px solid #fff;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  margin-top: -7px;
  margin-left: 33px;
}

.im_send_reply {
  &_wrap {
    margin-bottom: 5px;
  }

  &_form_wrap {
    a.im_panel_own_photo,
    a.im_panel_peer_photo {
      margin-top: 41px;
    }
  }

  &_cancel {
    float: right;
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-top: 5px;
    -webkit-transform: translate3d(0,0,0);
    padding-top: 7px;

    .icon-reply-bar {
      display: block;
      background: #999;
      width: 18px;
      height: 2px;
      transform-origin: 50% 50%;
    }

    &:hover {
      .icon-reply-bar {
        background: #44a1e8;
      }
    }
  }
}

.icon-reply-bar {
  &:first-child {
    .transform(rotate(-45deg));

    transform-origin: 50% 50%;
  }

  &:last-child {
    .transform(translate3d(0,-2px,0) rotate(45deg));
  }
}

a.img_fullsize,
.img_fullsize_wrap {
  display: block;
  text-align: center;
}
img.img_fullsize {
  margin: 0 auto;
}
.document_modal_image_wrap {
  overflow: auto;
}
.document_fullsize_wrap {
  display: none;
  cursor: zoom-in;
  text-align: center;
}
.document_fullsize_zoomed {
  cursor: zoom-out;
}
.document_fullsize_img {
  /*max-width: 100%;*/
  -webkit-user-select: none;
}

.document_fullsize_zoomed {
  .document_fullsize_img {
    /*min-width: 100%;*/
    -webkit-user-select: none;
    image-rendering: optimizeSpeed;             /* FUCK SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  }
}

.video_full_player {
  video {
    background: #000;
  }
}

.media_modal_info {
  color: #999;
  margin: 20px 0 0;
}
.media_modal_actions {
  margin-top: 20px;
}
.media_modal_action_link {
  margin-left: 15px;
}
.media_modal_author {
  color: inherit;
  font-weight: bold;

  &:hover {
    color: inherit;
  }
  .non_osx & {
    font-size: 12px;
  }
}

/* Message composer */
.composer_progress_enabled-add,
.composer_progress_enabled-remove {
  transition-duration: 0.2s;
}
.composer_progress_icon_wrap {
  position: absolute;
  right: 3px;
  top: 2px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin-top: 1px;
  pointer-events: none;
  padding: 0;
  display: none;
  opacity: 0;

  .composer_progress_enabled-add &,
  .composer_progress_enabled-remove & {
    transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    display: block;
  }

  .composer_progress_enabled & {
    display: block;
    opacity: 1;
  }
}
.composer_emoji_insert_btn {
  opacity: 1;
  position: absolute;
  right: 3px;
  top: 2px;
  cursor: pointer;
  padding: 0;

  width: 22px;
  height: 22px;
  margin-top: 1px;
  display: block;
  opacity: 1;

  .composer_progress_enabled & {
    display: none;
    opacity: 0;
  }

  .composer_progress_enabled-add &,
  .composer_progress_enabled-remove & {
    transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    display: block;
  }
}

.icon-emoji {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: top;
  opacity: 0.8;

  .image-2x('../img/icons/General.png', 40px, 948px);
  background-position: -9px -335px;
}


.composer_emoji_tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  width: 286px;
  margin-left: -133px;
  margin-top: -330px;

  border: 1px #dfdfdf solid;

  .rounded(3px);
  .box-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));

  background: #fff;
  padding: 0;

  &_shown {
    display: block;
  }

  &_tail {
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -13px;
    overflow: hidden;
    width: 26px;
    height: 14px;
  }
}

.icon-tooltip-tail {
  background: #fff;
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px #dfdfdf solid;
  border-width: 0 1px 1px 0;

  .rounded(2px);

  position: relative;
  top: -8px;
  left: 4px;

  .transform(rotate(45deg));
  .box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}

.composer_emoji_tooltip_tabs {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
  padding-top: 2px;
}
.composer_emoji_tooltip_tab {
  cursor: pointer;
  display: inline-block;
  line-height: 33px;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  font-weight: bold;
  transition: color ease-in-out 0.2s;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.composer_emoji_tooltip_tab_emoji,
.composer_emoji_tooltip_tabs_stickers_active .composer_emoji_tooltip_tab_stickers {
  color: #53a9ea;
}
.composer_emoji_tooltip_tabs_stickers_active .composer_emoji_tooltip_tab_emoji,
.composer_emoji_tooltip_tab_stickers {
  color: #999;
}
.composer_emoji_tooltip_tab_shadow {
  width: 50%;
  height: 1px;
  background: #53a9ea;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(83,169,234,1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(83,169,234,1);
  box-shadow: 0px 1px 0px 0px rgba(83,169,234,1);
  .transform(translate3d(0,0,0));

  transition: transform ease-in-out 0.2s;

  .composer_emoji_tooltip_tabs_stickers_active & {
    .transform(translate3d(100%,0,0));
  }
}

.composer_emoji_tooltip_categories {
  width: 100%;
  line-height: 0;

  .composer_emoji_tooltip_tab_emoji_content & {
    width: 100%;
    margin: 0 0 3px;
    padding: 0 5px 15px;
    line-height: 0;
  }

  .composer_emoji_tooltip_tab_stickers_content & {
    vertical-align: top;
    padding: 0 5px 15px;
    margin: 0 0 3px;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    .composer_sticker_btn {
      width: 36px;
      height: 34px;
      padding: 3px 4px;
      vertical-align: top;
      margin: 4px 0 0 0;
    }
    .composer_sticker_image {
      max-width: 28px;
      max-height: 28px;
    }
  }
}

.composer_emoji_tooltip_category {
  line-height: 0;
  color: white;
  display: inline-block;
  cursor: pointer;
  opacity: 0.3;
  padding: 9px 12px;
  // margin: 0 12px 0 12px;

  &:hover {
    opacity: 0.4;
  }
  &.active,
  &.active:hover {
    opacity: 1;
  }
}

.composer_emoji_tooltip_category i {
  display: inline-block;
  width: 21px;
  height: 21px;

  .image-2x('../img/icons/IconsetSmiles.png', 27px, 362px);
}

/* Recent */
.composer_emoji_tooltip_category_recent {background-position: -3px 0; }
.active .composer_emoji_tooltip_category_recent {background-position: -3px -31px; }

/* Smile */
.composer_emoji_tooltip_category_smile {background-position: -3px -62px; }
.active .composer_emoji_tooltip_category_smile {background-position: -3px -93px; }

/* Flower */
.composer_emoji_tooltip_category_flower {background-position: -3px -124px; }
.active .composer_emoji_tooltip_category_flower {background-position: -3px -155px; }

/* Bell */
.composer_emoji_tooltip_category_bell {background-position: -3px -185px; }
.active .composer_emoji_tooltip_category_bell {background-position: -3px -213px; }

/* Car */
.composer_emoji_tooltip_category_car {background-position: -3px -241px; }
.active .composer_emoji_tooltip_category_car {background-position: -3px -269px; }

/* Grid */
.composer_emoji_tooltip_category_grid {background-position: -3px -297px; }
.active .composer_emoji_tooltip_category_grid {background-position: -3px -324px; }


.composer_emoji_tooltip_tabs_wrap {
  height: 275px;
  width: 284px;
  position: relative;
  overflow: hidden;
}
.composer_emoji_tooltip_tabs_contents {
  position: absolute;
  width: 568px;

  .non_msie & {
    transition: transform ease-in-out 0.2s;
    .transform(translate3d(0,0,0));
  }
  .non_msie .composer_emoji_tooltip_tabs_stickers_active & {
    .transform(translate3d(-284px,0,0));
  }

  .msie & {
    margin-left: 0;
    transition: margin-left ease-in-out 0.2s;
  }
  .msie .composer_emoji_tooltip_tabs_stickers_active & {
    margin-left: -284px;
  }

}
.composer_emoji_tooltip_tab_emoji_content,
.composer_emoji_tooltip_tab_stickers_content {
  width: 284px;
  height: 275px;
  float: left;
}
.composer_emoji_tooltip_content_stickers {
  position: relative;
}
.composer_emoji_tooltip_content_wrap {
  padding: 0 2px 0 8px;
}
.composer_emoji_tooltip .scroller_scrollable_container {
  height: 233px;
  position: relative;
}
.composer_emoji_tooltip_content {
  padding-top: 10px;
  padding-right: 8px;
  outline: 0!important;
}

a.composer_emoji_btn {
  margin: 0 2px 0 0;
  padding: 5px;
  display: block;
  float: left;
  border-radius: 2px;

  &:hover {
    background-color: #edf2f5;
  }
}

.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  border: 0 none;
}

/* widths and heights calculated according to spritesheet dimensions and icon size */
.emoji-spritesheet-0 {
  background-size: 486px 126px;
  background-image: url('../img/emojisprite_0.png');
}
.emoji-spritesheet-1 {
  background-size: 522px 72px;
  background-image: url('../img/emojisprite_1.png');
}
.emoji-spritesheet-2 {
  background-size: 594px 126px;
  background-image: url('../img/emojisprite_2.png');
}
.emoji-spritesheet-3 {
  background-size: 612px 54px;
  background-image: url('../img/emojisprite_3.png');
}
.emoji-spritesheet-4 {
  background-size: 612px 126px;
  background-image: url('../img/emojisprite_4.png');
}

.emoji-w20 {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;

  &.emoji-spritesheet-0 { background-size: 540px 140px; }
  &.emoji-spritesheet-1 { background-size: 580px 80px;  }
  &.emoji-spritesheet-2 { background-size: 660px 140px; }
  &.emoji-spritesheet-3 { background-size: 680px 60px;  }
  &.emoji-spritesheet-4 { background-size: 680px 140px; }
}

.emoji-w26 {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;

  &.emoji-spritesheet-0 { background-size: 702px 182px; }
  &.emoji-spritesheet-1 { background-size: 754px 104px; }
  &.emoji-spritesheet-2 { background-size: 858px 182px; }
  &.emoji-spritesheet-3 { background-size: 884px 78px;  }
  &.emoji-spritesheet-4 { background-size: 884px 182px; }
}


.composer_dropdown_wrap {
  background: #FFF;
  display: none;
  position: absolute;
  z-index: 10;
  border: 0;

  .box-shadow(0px 1px 1px 0px rgba(60,75,87,0.27));

  border-radius: 0;
  margin-top: -5px;
  margin-left: -1px;
  width: 380px;
}

.composer_dropdown {
  position: static;
  display: block;
  float: none;
  top: auto;
  left: auto;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  z-index: auto;

  & > li > a {
    display: block;
    font-size: 13px;
    line-height: 15px;
    padding: 4px 10px;
    color: #52719a;
  }

  li a:hover,
  li.composer_autocomplete_option_active a {
    color: #52719a;
    background: #f2f6fa;
    text-decoration: none;
  }
}

.composer_emoji_shortcut {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  line-height: 20px;
}
.composer_mention_option {
  line-height: 20px;
}
.composer_user_mention {
  color: #808080;
  margin-left: 7px;
}

.composer_dropdown {
  li a:hover .composer_user_mention,
  li.composer_autocomplete_option_active a .composer_user_mention {
    color: #698192;
  }
}

.composer_user_photo {
  span& {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: top;
  }

  img& {
    width: 32px;
    height: 32px;
    vertical-align: top;
  }

  span& {
    .peer_initials {
      line-height: 32px;
      font-size: 14px;
    }
  }
}

.composer_user_name,
.composer_user_mention {
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
}

.composer_dropdown a.composer_command_option {
  color: #808080;
  line-height: 32px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.composer_dropdown .composer_command_value {
  color: #52719a;
  display: inline;
}
.composer_dropdown .composer_command_desc {
  display: inline;
  color: #808080;
  padding-left: 7px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a.composer_command_option:hover .composer_command_desc,
.composer_autocomplete_option_active a.composer_command_option .composer_command_desc {
  color: #698192;
}
.composer_command_desc .emoji {
  vertical-align: text-bottom;
}


.composer_stickerset_title {
  display: block;
  // clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 13px;
  color: #444;
  margin: 10px 0 3px;
  padding: 0 6px;

  .composer_stickerset_wrap:first-child & {
    margin-top: 0;
  }
  &:hover {
    color: #444;
  }
}
.composer_sticker_btn {
  width: 66px;
  height: 66px;
  display: inline-block;
  text-align: center;
  padding: 3px;
  vertical-align: top;

  &:hover {
    background: #f2f6fa;
  }
}

.composer_sticker_image {
  max-width: 60px;
  max-height: 60px;
  vertical-align: middle;
}

.composer_rich_textarea {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 6px;
  min-height: 38px;
  height: auto;
  width: auto;
  max-height: 284px;
  overflow: auto;
  line-height: 17px;

  border: 1px solid #d2dbe3;
  border-radius: 2px;

  .box-shadow(none);
  .box-sizing(content-box);

  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  -webkit-user-select: text;
  word-wrap: break-word;

  .user-select(text);

  &:empty::before {
    content: attr(placeholder);
    color: #9aa2ab;
    display: block;
    margin-top: -1px;
    margin-left: 1px;
    pointer-events: none;
  }
  &:empty:active::before,
  &:empty:focus::before {
    opacity: 0.75;
  }


  img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: -3px 0 0 0;
  }
}

// Mozilla hack
@-moz-document url-prefix() {
  .composer_rich_textarea:empty:active:before,
  .composer_rich_textarea:empty:focus:before {
    display: none;
  }
}

// IE hack
_:-ms-lang(x), .composer_rich_textarea:empty:active:before {
  display: none;
}
_:-ms-lang(x), .composer_rich_textarea:empty:focus:before {
  display: none;
}


.composer_command_btn {
  display: block;
  position: absolute;
  right: 37px;
  top: 4px;
  cursor: pointer;
  padding: 0;

  width: 20px;
  height: 20px;
}
.icon-slash {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  opacity: 0.8;

  .image-2x('../img/icons/General.png', 40px, 948px);
  background-position: -10px -790px;

  .composer_command_btn.active & {
    background-position: -10px -820px;
  }

  .composer_command_btn:hover & {
    opacity: 1.0;
  }
}

.composer_keyboard_btn {
  display: block;
  position: absolute;
  right: 37px;
  top: 4px;
  cursor: pointer;
  padding: 0;

  width: 20px;
  height: 20px;
}
.icon-keyboard {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  opacity: 0.8;

  .image-2x('../img/icons/General.png', 40px, 948px);
  background-position: -10px -730px;

  .composer_keyboard_btn.active & {
    background-position: -10px -760px;
  }

  .composer_keyboard_btn:hover & {
    opacity: 1.0;
  }
}

.inline_switch_pm {
  text-decoration: none !important;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  padding: 10px 10px;
  text-align: center;
  color: #52719a;

  &:hover {
    background: #f2f6fa;
    color: #52719a;
  }
}
.inline_results_wrap {
  line-height: 0;
}
.inline_result_wrap {
  display: block;
}
.inline_result_gif,
.inline_result_photo,
.inline_result_sticker {
  display: inline-block;
  padding: 1px;
}
.inline_result_article {
  display: block;
}
.inline_article_thumb_wrap {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  pointer-events: none;
  text-align: center;
}
.inline_article_thumb {
  max-width: 50px;
  max-height: 50px;
  line-height: 0;
}
.inline_result_video .inline_article_thumb_wrap {
  width: 90px;
  height: 50px;
}
.inline_result_video .inline_article_thumb {
  max-width: 90px;
  max-height: 50px;
}
.inline_article_thumb_initials {
  color: #999;
  background: #EEE;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;

  li a:hover &,
  li.composer_autocomplete_option_active a & {
    color: #698192;
    background: darken(#f2f6fa, 5%);
  }
}
.inline_article_content_wrap {
  overflow: hidden;
  pointer-events: none;
}
.inline_article_thumb_wrap,
.inline_article_title,
.inline_article_description,
.inline_article_url {
  pointer-events: none;
}
.inline_article_title {
  color: #222;
  font-weight: bold;
  font-size: 12px;
}
.inline_article_description {
  color: #808080;
  padding-top: 4px;
  font-size: 12px;
  li a:hover &,
  li.composer_autocomplete_option_active a & {
    color: #698192;
  }
}
.inline_article_url {
  padding-top: 4px;
}

.composer_dropdown > li.inline_result_gif > a,
.composer_dropdown > li.inline_result_photo > a,
.composer_dropdown > li.inline_result_sticker > a {
  padding: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
}
li.inline_result_gif.composer_autocomplete_option_active a,
li.inline_result_photo.composer_autocomplete_option_active a,
li.inline_result_sticker.composer_autocomplete_option_active a {
  position: relative;

  .inline_result_ind {
    display: block;
    background: rgba(255,255,255,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.inline_result_gif .img_gif_video,
.inline_result_photo .inline_result_photo_image {
  object-fit: cover;
}
.inline_result_sticker img {
  object-fit: contain;
}
.inline_result_gif_mtproto,
.inline_result_gif_http,
.inline_result_photo_mtproto,
.inline_result_photo_http {
  pointer-events: none;
}


.error_modal_window {
  .modal-dialog {
    max-width: 350px;
  }
}

.error_modal_description {
  color: #999;
  padding: 5px 0;
  font-size: 13px;
  line-height: 160%;
}

.md_simple_modal_alert_body {
  .md_simple_header,
  .error_modal_description {
    text-align: center;
  }
}

.error_modal_details {
  textarea {
    display: block;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 0;
    font-size: 10px;
    line-height: 100%;
    white-space: pre-wrap;
    padding: 4px;
    margin: 10px 0 10px;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100%;
    text-align: left;
  }
}

.error_modal_details_link {
  &,
  &:hover {
    font-size: 11px;
    color: #999
  }
}

.confirm_modal_description {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  line-height: 160%;
}
.confirm_phone_number {
  font-weight: bold;
  padding: 15px 10px 0;
  text-align: center;
}
.confirm_modal_extlink_jump {
  word-break: break-all;
}
.confirm_modal_paste_image {
  max-width: 274px;
  height: 274px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px auto -10px;
}

.photo_modal_window,
.video_modal_window,
.document_modal_window {
  display: block;
}
.photo_modal_error {
  color: #999;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -20px;
  padding: 0 20px;
  text-align: center;
  font-size: 1.4em;
  line-height: 160%;
}
.video_full_error {
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0,0,0,0.6);
  color: #fff;
  position: absolute;
  top: 50%;
  margin: -40px 10px 0;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.4em;
  line-height: 160%;
}

.settings_modal_wrap .im_attach_input {
  z-index: 999;
}

.settings_modal_username_link {
  &,
  &:hover {
    color: inherit;
  }
}

.settings_external_service {
  line-height: 0;
  display: inline-block;
  padding: 7px 9px;
}

.settings_about_section_body {
  padding-right: 0;

  p {
    margin-top: 7px;
    margin-bottom: 3px;
  }
}

.icon-github {
  display: inline-block;
  width: 59px;
  height: 18px;

  .image-2x('../img/icons/AboutLogos.png', 60px, 136px);
  background-position: 0 -5px;

  a:hover & {
    background-position: 0 -43px;
  }
}

.icon-twitter {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-top: 1px;

  .image-2x('../img/icons/AboutLogos.png', 60px, 136px);
  background-position: 0 -81px;

  a:hover & {
    background-position: 0 -116px;
  }
}

/* Contacts modal */
.contacts_modal_search {
  position: relative;
  padding: 7px 12px 6px;
  .box-shadow(0px 1px 1px rgba(0,0,0,0.15));
  z-index: 1;
}

.contacts_modal_search_field {
  font-size: 12px;
  line-height: normal;
  border: 1px solid #fff  !important;
  border-radius: 2px;
  padding: 6px 27px 6px 30px;
  margin: 0;

  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -6px -205px;

  &::-ms-clear {
    display: none;
  }
}

a.contacts_modal_search_clear {
  right: 9px;
  margin-top: -24px;
}
.contacts_scrollable_wrap {
  outline: none ! important;
}
.contacts_modal_contacts_empty {
  visibility: hidden;
  text-align: center;
  color: #999;
  font-size: 16px;
  line-height: 160%;
  padding: 1px 50px;
  margin: 0;
}
.contacts_modal_contacts_empty.vertical-aligned {
  visibility: visible;
}

.contacts_modal_members_list {

  .contacts_modal_contact_wrap {
    margin-top: 0;
  }

  a.contacts_modal_contact {
    clear: both;
    overflow: hidden;
    color: #000;
    padding: 8px 9px;
    border-radius: 0;

    &:hover {
      background: #f2f6fa;
    }
  }

  .active {
    a.contacts_modal_contact {
      &,
      &:hover {
        background: #f2f6fa;
      }
    }
  }
}

.contacts_modal_contact_name {
  display: block;
  color: #3C6E97;
  font-weight: bold;
  margin: 1px 0 2px;

  .non_osx & {
    font-size: 12px;
  }
}

.contacts_modal_contact_photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 20px;

  .peer_initials {
    line-height: 40px;
    font-size: 15px;
  }
}
.contacts_modal_contact_status {
  color: #999;
}
a.contacts_modal_contact:hover .contacts_modal_contact_status,
.contacts_modal_members_list .active a.contacts_modal_contact .contacts_modal_contact_status,
a.contacts_modal_contact:hover .md_modal_list_peer_description,
.contacts_modal_members_list .active a.contacts_modal_contact .md_modal_list_peer_description {
  color: #91a6ba;
}

h4.chat_modal_migrate_header {
  font-size: inherit;
  font-weight: bold;
  color: inherit;
}
ul.chat_modal_migrate_list {
  margin-top: 10px;
  padding-left: 15px;
}

.chat_modal_participant_wrap {
  padding: 8px 0;
  border-top: 1px solid #F0F0F0;

  &:first-child {
    border-top: 0;
  }
}

.chat_modal_participant_kick {
  padding: 11px 0;
  display: block;
}

.chat_modal_participant_name {
  display: block;
  color: #3C6E97;
  font-weight: bold;
  margin: 1px 0 2px;

  .non_osx & {
    font-size: 12px;
  }
}

.chat_modal_participant_status {
  color: #999;
}

.chat_modal_participant_photo {
  a& {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
  }
  img& {
    width: 40px;
    height: 40px;
  }
  .peer_initials {
    line-height: 40px;
    font-size: 15px;
  }
}

.chat_modal_members_forbidden {
  color: #999;
}

.icon-contact-tick {
  position: absolute;
  right: 10px;
  top: 17px;
  display: inline-block;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -9px -516px;
}

.contacts_modal_members_list {
  .contacts_modal_contact_wrap:hover {
    .icon-contact-tick {
      background-position: -9px -481px;
      opacity: 0.5;
    }
  }

  .contacts_modal_contact_wrap.active {
    .icon-contact-tick {
      background-position: -9px -481px;
      opacity: 1;
    }
  }

  .disabled {
    pointer-events: none;

    .icon-contact-tick {
      display: none;
    }
  }
}


.sessions_modal {
  &_session {
    padding: 8px 24px;
  }
  &_sessions_header {
    color: #999;
    font-size: 13px;
    margin-left: 16px;
    margin-top: 20px;
    font-weight: bold;
  }
  &_terminate_all_wrap {
    margin: 5px 0 0 24px;
  }
}
.sessions_modal_sessions_list {
  padding: 14px 0 10px;
  margin-bottom: 10px;
}
.session_active_date_online {
  color: #3a6d99;
}
.sessions_modal_loading {
  text-align: center;
  color: #999;
  font-size: 16px;
  line-height: 18px;
  padding: 1px 50px;
  margin: 0;
}
.session_active_date {
  color: #999;
}
.session_meta_wrap {
  text-align: right;
}
.session_terminate_btn {
  margin-top: 24px;
  display: inline-block;
}
.sessions_modal_session_app {
  font-weight: bold;
  font-style: 12px;
  margin-bottom: 3px;
}
.sessions_modal_session_device {
  margin: 3px 0 3px;
}
.sessions_modal_session_location {
  color: #777;
}

.sessions_modal_other_splitter {
  margin: 15px 0 20px 24px;
}


.stickerset_modal_window .modal-dialog {
  max-width: 642px;
  width: auto;
}
.stickerset_modal_stickers_list {
  padding: 25px;
}
.stickerset_modal_sticker_wrap {
  margin: 0 5px 5px 0;
  padding: 0;
  position: relative;
  display: block;
  width: 192px;
  height: 192px;
  float: left;
  border-radius: 3px;
  overflow: hidden;

  &:hover {
    background: #f2f6fa;
  }
}
.stickerset_modal_sticker {
  width: 192px;
  height: 192px;
  text-align: center;
}
.stickerset_modal_sticker img {
  max-width: 192px;
  max-height: 192px;
}
.stickerset_modal_sticker_alt {
  position: absolute;
  bottom: 0;
  right: 0;
}
.stickerset_actions {
  padding: 10px 20px;
  height: 50px;
  text-align: center;
}
.stickerset_modal_loading {
  text-align: center;
  color: #999;
  font-size: 16px;
  line-height: 18px;
  padding: 1px 50px;
  margin: 0;
}

.modal-dialog {
  .md_simple_modal_window &,
  .confirm_modal_window &,
  .error_modal_window & {
    max-width: 348px;
  }
}

.im_message_focus_active {
  .im_message_date,
  .im_message_document_size,
  .audio_player_duration,
  .audio_player_size,
  .im_message_fwd_date,
  .im_message_views_cnt,
  .im_message_sign_link {
    color: #899daf;
  }

  .im_message_outer_wrap {
    // background-color: rgba(242, 246, 250, 1.0);
    background-color: rgba(242, 246, 250, 0);
    animation-name: im_message_focus_fade;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-duration: 4s;
  }
}

@keyframes im_message_focus_fade {
    from {
      background-color: rgba(242, 246, 250, 1.0);
    }
    to {
      background-color: rgba(242, 246, 250, 0);
    }
}

/* Colorized user names */
.user {
  .generate_user(@user_colors, true);
  .generate_user(@user_bgcolors, false);
}

a.peer_photo_init {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.peer_initials {
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  .user-select(none);
}

h5 {
  .im_dialogs_contacts_wrap &,
  .im_dialogs_messages_wrap & {
    color: #999;
    font-size: 13px;
    margin-left: 20px;
    font-weight: bold;
  }
}

/* Gif documents */
.img_gif_image_wrap {
  position: relative;
  overflow: hidden;
}
.img_gif_meta {
  background: rgba(0,0,0,0.4);
  width: 40px;
  height: 40px;
  line-height: 0;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  pointer-events: none;
}
.img_gif_label {
  font-weight: bold;
  color: #FFF;
  display: block;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
}
.icon-cancel {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -1px;

  .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background: #FFF;
    transform-origin: 50% 50%;

    &:first-child {
      .transform(rotate(-45deg));
    }
    &:last-child {
      .transform(translate3d(0,-2px,0) rotate(45deg));
    }
  }
}

.img_gif_thumb {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);

  max-width: 100%;
  height: auto;
}

.img_gif_meta_contents {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}
.img_gif_meta_contents.ng-leave.ng-leave-active,
.img_gif_meta_contents.ng-enter {
  opacity: 0;
}
.img_gif_meta_contents.ng-leave,
.img_gif_meta_contents.ng-enter.ng-enter-active {
  opacity: 1;
}

.countries_modal_window {
  .modal-dialog {
    max-width: 392px;
  }
}

.countries_modal_window {
  .modal_simple_header {
    margin-bottom: 12px;
    font-weight: normal;
  }
}

.countries_modal_search {
  padding: 0 0 12px;
  margin: 0 20px;
  position: relative;
}


.countries_modal_search_field {
  font-size: 12px;
  line-height: normal;
  background-size: 42px 1171px;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  padding: 6px 20px 6px 30px;
  margin-bottom: 0;
  margin: 0;

  background-color: #F2F2F2;
  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -6px -205px;

  &:focus,
  &:active {
    background-color: #fff;
  }

  &::-ms-clear {
    display: none;
  }
}

a.countries_modal_search_clear {
  right: 12px;
  margin-top: -34px;
}
.countries_modal_wrap .modal-body {
  padding: 14px 0;
}

.countries_scrollable_wrap {
  a.countries_modal_country {
    clear: both;
    overflow: hidden;
    color: #000;
    padding: 8px 26px;
    font-size: 12px;
    border-radius: 0;

    &:hover {
      border-radius: 2px;
      background: #f2f6fa;
    }
  }
}

.countries_modal_country_code {
  color: #999;

  .countries_scrollable_wrap a.countries_modal_country:hover & {
    color: #698192;
  }
}

/* Loading dots animation */
.loading_dots {
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  padding: 0.125em 0 0.175em 0.15em;

  i {
    border: 0.125rem solid;
    border-radius: 50%;
    display: inline-block;
    height: 0.2rem;
    width:  0.2rem;
    margin-left: 0.2rem;

    -webkit-animation:  loading_dots 0.8s linear infinite;
    -moz-animation:     loading_dots 0.8s linear infinite;
    -ms-animation:      loading_dots 0.8s linear infinite;
    animation:          loading_dots 0.8s linear infinite;

    &:nth-child(2) {
      -webkit-animation-delay:  0.2s;
      -moz-animation-delay:     0.2s;
      -ms-animation-delay:      0.2s;
      animation-delay:          0.2s;
    }
    &:nth-child(3) {
      -webkit-animation-delay:  0.4s;
      -moz-animation-delay:     0.4s;
      -ms-animation-delay:      0.4s;
      animation-delay:          0.4s;
    }
  }

  @-webkit-keyframes loading_dots {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes loading_dots {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-ms-keyframes loading_dots {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes loading_dots {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.telegram_modal_logo {
  .image-2x('../img/Telegram72.png', 72px, 72px);
  background-position: 0 0;
}

.changelog {
  &_modal_window .modal-dialog {
    max-width: 480px;
  }

  &_card_wrap {
    text-align: center;
    padding: 12px 0 18px;
  }

  &_header {
    margin-top: 15px;
    font-size: 16px;
  }

  &_card {
    width: 160px;
    height: 160px;
    display: block;
    background: url(../img/changelog/card_wecandoit.png) no-repeat 0 0;
    background-size: 160px 160px;
    margin: 0 auto;
  }

  &_card_search {
    width: 133px;
    height: 133px;
    display: block;
    background: url(../img/changelog/search.png) no-repeat 0 0;
    background-size: 133px 133px;
    margin: 0 auto;
  }

  &_version_title {
    color: #9d9479;
    background: #efede3;
  }

  &_version_changes_list li {
    line-height: 20px;
  }

  &_footer_wrap {
    padding: 15px 28px 30px 120px;
  }

  &_github_link {
    font-size: 13px;
    float: right;
    color: #999;
  }

  &_more_link {
    font-size: 13px;
  }
}

.bad_browser_wrap {
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  max-width: 600px;
  margin: 50px auto 0;
  padding: 40px;

  h2 {
    margin-top: 0;
  }
}

.bad_browser_text {
  font-size: 14px;
  line-height: 160%;
  margin: 25px 0 30px;
}

#nacl_listener {
  position: absolute;
  left: -10000px;
}

.peer_modal_profile_wrap {
  padding: 35px 2px 0px;
}

.peer_modal_photo {
  width: 72px;
  height: 72px;
  border-radius: 36px;
  overflow: hidden;

  a&,
  div& {
    display: block;
    margin-right: 19px;
  }

  .peer_initials {
    line-height: 72px;
    font-size: 22px;
  }
}

.peer_modal_profile_name {
  font-size: 14px;
  padding: 15px 0 9px;
  font-weight: bold;
}
.peer_modal_profile_description {
  color: #ccdeed;
}

.md_modal_split_action {
  display: block;
  background: #fff;
  float: right;
  position: relative;
  width: 52px;
  height: 52px;
  margin-left: 20px;
  border-radius: 26px;
  overflow: hidden;

  .box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));

  &s {
    position: absolute;
    right: 25px;
    top: -26px;

    &_wrap {
      position: relative;
    }
  }

  &_camera {
    display: inline-block;
    width: 20px;
    height: 18px;
    margin: 17px 0 0 16px;

    .image-2x('../img/icons/ProfileIcons.png', 40px, 420px);
    background-position: -10px -164px;
  }

  &:hover &_camera,
  &:active &_camera {
    background-position: -10px -192px;
  }

  &_twitter {
    display: inline-block;
    width: 27px;
    height: 22px;
    margin: 17px 0 0 13px;

    .image-2x('../img/icons/ProfileIcons.png', 40px, 420px);
    background-position: -7px -280px;
  }

  &:hover &_twitter,
  &:active &_twitter {
    background-position: -7px -312px;
  }

  &_msg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 18px 0 0 16px;

    .image-2x('../img/icons/ProfileIcons.png', 40px, 420px);
    background-position: -10px -220px;
  }

  &:hover &_msg,
  &:active &_msg {
    background-position: -10px -250px;
  }
}

.md_modal_iconed_section {
  &_wrap {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    margin: 19px 0 0 120px;
    padding-right: 28px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &_number {
    margin-top: 0;
  }

  &_toggle {
    margin-top: 10px;
  }

  &_radio {
    margin-top: 1px;
  }
}

.md_modal_section {
  &s {
    padding-top: 17px;
  }

  &_icon {
    display: inline-block;
    margin-left: -64px;
    margin-top: 5px;
    position: absolute;

    .image-2x('../img/icons/ProfileIcons.png', 40px, 420px);
    background-position: 0 0;

    .md_modal_iconed_section_toggle & {
      margin-top: 8px;
    }
    .md_modal_iconed_section_radio & {
      margin-top: 10px;
    }
    .md_modal_iconed_section_link & {
      margin-top: 4px;
    }

    &_phone {
      width: 18px;
      height: 18px;
      background-position: -12px -10px;
      margin-top: 3px;
    }

    &_about {
      width: 20px;
      height: 20px;
      background-position: -10px -344px;
      margin-top: 0px;
    }

    &_notification {
      width: 17px;
      height: 20px;
      background-position: -12px -38px;
    }

    &_keyboard {
      width: 20px;
      height: 14px;
      background-position: -10px -140px;
      margin-left: -66px;
    }

    &_person {
      width: 16px;
      height: 16px;
      background-position: -12px -90px;
    }

    &_people {
      width: 22px;
      height: 14px;
      background-position: -9px -116px;
    }

    &_more {
      width: 18px;
      height: 12px;
      background-position: -11px -68px;
    }
  }

  &_param_wrap {
    margin-top: 19px;
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 16px;
    }

    .md_modal_section_param_name {
      color: #909090;
      font-size: 11px;
      line-height: 14px;
      margin-top: 4px;
    }
    .md_modal_section_param_value {
      word-break: break-word;
      word-wrap: break-word;
      overflow: hidden;
    }
  }

  &_range_wrap {
    padding-right: 4px;
    margin-bottom: 25px;
    padding-top: 1px;
  }

  &_select_wrap {
    margin-bottom: 20px;
  }

  &_select {
    float: right;
    font-size: 12px;
    padding: 0;
  }

  &_select_wrap &_param_name {
    padding-top: 1px;
  }

  &_select {
    .dropdown-toggle {
      font-size: 12px;
      padding: 0;
      line-height: normal;
    }

    .dropdown-menu {
      left: -15px;
    }
  }

  &_link {
    color: inherit;
    display: block;
    padding: 4px 0;

    &_wrap {
      padding-bottom: 15px;
    }

    &:hover {
      text-decoration: none;
    }
    &.pull-right {
      color: #3a6d99;
    }
  }

  &_text {
    display: block;
    padding: 4px 0;
    color: #777;
  }

  &_version {
    color: #777;
    display: inline-block;
    margin-left: -70px;
    position: absolute;
  }

  &_splitter {
    border-top: 1px solid #dfdfdf;
    min-height: 12px;
    background: #f5f5f5;

    .box-shadow(inset 0px 1px 1px #ededed);
  }
  &_splitter_content {
    height: auto;
    padding-left: 120px;
    color: #777;
    font-size: 12px;
    padding: 5px 20px 3px 55px;
  }
}

.md_modal_versioned_section_wrap {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  margin: 19px 0 0 120px;
  padding-right: 28px;

  &:last-child {
    border-bottom: 0;
  }
}

.md_modal_list_peer {
  &_wrap {
    padding-bottom: 16px;
  }

  &_action {
    font-size: 13px;
    padding: 3px;
    margin: -3px;
  }

  &_photo {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    overflow: hidden;

    a&,
    div& {
      margin-right: 12px;
    }
  }

  &_name {
    font-size: 13px;
    font-weight: bold;

    a& {
      color: inherit;
    }
  }

  &_description {
    margin-top: 4px;
    color: #999;

    &.status_online,
    .status_online {
      color: #3a6d99;
    }
  }
}

.md_modal_footer {
  padding: 15px 27px 15px;
}
.md_modal_footer_empty {
  padding: 10px 27px 0;
}

.md_photo_loading {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 36px;
  overflow: hidden;
  background: #48769b;
  text-align: center;
  line-height: 72px;
  padding: 0;

  i {
    display: inline-block;
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    vertical-align: middle;
    border: 0;
    margin-left: 6px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.inactive_page_content {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.inactive_image {
  display: block;
  .image-2x('../img/Manytabs.png', 341px, 262px);
  width: 341px;
  height: 262px;
  margin: 0 auto;
}
.inactive_title {
  font-size: 18px;
  color: #444444;
}
.inactive_description {
  color: #666666;
  font-size: 15px;
  line-height: 150%;
}
.inactive_actions {
  margin-top: 15px;
}


@media print {
  html, body {
    background: #fff;
  }
  body .im_page_wrap {
    border: 0;
    box-shadow: none;
    overflow: visible;
  }
  body .im_dialogs_col_wrap,
  body .im_bottom_panel_wrap,
  body .tg_head_logo_wrap,
  body .tg_head_msgs_edit_btn,
  body .tg_head_peer_return_btn,
  body .tg_head_peer_dropdown {
    display: none;
  }
  body .im_history_wrap {
    height: auto !important;
  }
  body .nano-pane {
    display: none;
  }
  body .nano > .nano-content {
    position: static;
  }
  body .tg_head_peer_info {
    text-align: center;
  }
  body .im_history_col_wrap,
  body .tg_head_main_wrap {
    width: auto;
    max-width: 700px;
    float: none;
    margin: 0 auto;
  }
}