@import "lib/mixins";

.hidden_close .modal_close{
  display: none;
}

.prv_modal_loading {
  text-align: center;
  color: #999;
  font-size: 16px;
  line-height: 18px;
  padding: 1px 50px;
  margin: 0;
}

.temple_list_modal_empty_list {
  visibility: hidden;
  text-align: center;
  color: #999;
  font-size: 16px;
  line-height: 160%;
  padding: 1px 50px;
  margin: 10px;
}
.temple_list_modal_empty_list.vertical-aligned {
  visibility: visible;
}

.temple_filter_country, .temple_filter_city{
  width: 50%;
  padding: 10px;
}
.temple_list_modal_search{
  padding: 12px 12px 12px;
  margin: 0;
  position: relative;
}
.clearfix{
  clear: both;
}

.temple_list_modal_search_field {
  font-size: 12px;
  line-height: normal;
  background-size: 42px 1171px;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  padding: 6px 20px 6px 30px;
  margin: 0;

  background-color: #F2F2F2;
  .image-2x('../img/icons/IconsetW.png', 42px, 1171px);
  background-position: -6px -205px;

  &:focus,
  &:active {
    background-color: #fff!important;
  }

  &::-ms-clear {
    display: none;
  }
}

.temple_list_modal_temple_img_wr{
   width: 38%;
 }

.temple_list_modal_temple_desc{
  width: 62%;
  padding: 10px;
}

.temple_view_modal_chat_btn_wr{
  width: 50%;
  padding: 0px 10px 10px 10px;
}

.temple_view_modal_temple_data_wr{
  padding: 10px;
}

.temple_view_modal_tools{ padding: 10px}

.clear{ clear: both }

.prv_scrollable_wrap {
  outline: none ! important;
  position: relative;
}

.temple_list_item a {
  clear: both;
  overflow: hidden;
  color: #000;
  padding: 8px 9px;
  border-radius: 0;
}

.temple_list_filter a.tg_search_clear, .saint_list_filter a.tg_search_clear {
  right: 12px;
}

.prv_file_list a{
  line-height: 11px;
  padding: 5px;
}
.prv_file_list li{
  margin-top: 5px;
}

.login_head_logo_link{
  padding: 20px;
}
.icon-tg-title {
  width: 160px;
  height: 45px;
}
.tg_head_logo_dropdown .icon-tg-title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 138px;
  height: 38px;
}