.icon-tg-title{
	background-image: url(../img/logo_131x33.png);
	width: 131px;
	height: 33px;
}
.icon-tg-logo{
	display: none;
}
.icon-temples, .icon-my-temples, .icon-prv-contacts, .icon-prv-settings, .icon-prv-faq{
	margin-right: 38px;
	display: inline-block;
	vertical-align: top;
	background-image: url(../img/icons/prv_sprites.png);
	background-repeat: no-repeat;
}
.icon-temples{
	margin-top: 3px;
	background-position: -3px -109px;
	width: 24px;
	height: 24px;
}
.icon-my-temples{
	background-position: -3px -54px;
	width: 24px;
	height: 24px;
}
.icon-prv-contacts{
	background-position: -3px 0;
	width: 24px;
	height: 24px;
}
.icon-prv-settings{
	background-position: -3px -82px;
	width: 24px;
	height: 24px;
}
.icon-prv-faq{
	background-position: -3px -27px;
	width: 24px;
	height: 24px;
}