<div class="md_simple_modal_wrap">

  <div class="md_simple_modal_body">

    <form class="modal_simple_form" ng-submit="updateProfile()">

      <h4 my-i18n="prv_profile_profession_modal_title"></h4>

      <div class="form-group" ng-class="{'has-error': error.field == 'profession'}">
        <input class="form-control input-lg" type="text" placeholder="{{'prv_profile_edit_profession' | i18n}}" ng-model="prv_profile.profession"/>
      </div>

    </form>

  </div>

  <div class="md_simple_modal_footer">
    <button class="btn btn-md" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
    <button class="btn btn-md btn-md-primary" ng-class="{disabled: profile.updating}" ng-click="updateProfile()" ng-bind="profile.updating ? 'profile_edit_submit_active' : 'profile_edit_submit' | i18n" ng-disabled="profile.updating"></button>
  </div>

</div>
