<div class="countries_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">

        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li>
              <a ng-click="$close()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <div class="navbar-quick-back-title">
                  <h4 class="modal_simple_header" my-i18n="prv_city_select_modal_title"></h4>
                </div>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body mobile_modal_body">

    <div class="countries_modal_search">
      <input class="form-control countries_modal_search_field no_outline" my-focused type="search" placeholder="{{'modal_search' | i18n}}" ng-model="search.query" autocomplete="off" />
      <a class="countries_modal_search_clear tg_search_clear" ng-click="search.query = ''" ng-show="search.query.length">
        <i class="icon icon-search-clear"></i>
      </a>
    </div>

    <div class="countries_modal_col countries_wrap countries_scrollable_wrap mobile_scrollable_wrap" my-countries-list-mobile my-infinite-scroller-mobile>
      <div ng-if="!dataLoaded" class="prv_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="sessions_modal_loading">
        <my-i18n-param name="dots">
          <span my-loading-dots></span>
        </my-i18n-param>
      </div>

      <ul ng-if="dataLoaded" class="countries_modal_members_list nav nav-pills nav-stacked">
        <li class="countries_modal_country_wrap clearfix" ng-repeat="city in cities | limitTo: slice.limit track by city.id">
          <a class="contacts_modal_contact" ng-click="citySelect(city)">{{city.name}}</a>
        </li>
      </ul>
    </div>

  </div>
</div>