<div class="temple_view_modal_wrap md_modal_wrap">

    <div class="md_modal_head md_modal_head_simple">
        <div class="md_modal_title_wrap">
            <div class="md_modal_actions_wrap clearfix">
                <a class="md_modal_action md_modal_action_close" ng-click="$dismiss()" my-i18n="modal_close"></a>
            </div>
        </div>
        <div class="md_modal_title">
            <span>{{temple.title}}</span>
        </div>
    </div>

    <div class="md_modal_body">

        <div ng-if="!dataLoaded" class="prv_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="sessions_modal_loading">
            <my-i18n-param name="dots">
                <span my-loading-dots></span>
            </my-i18n-param>
        </div>


        <div ng-if="dataLoaded">
            <div class="temple_view_modal_tools">
                <a ng-if="!temple.is_my_temple" href="" class="btn btn-block btn-primary" ng-click="addToFavourite()" my-i18n="prv_add_to_favourites"></a>
                <a ng-if="temple.is_my_temple" href=""  class="btn btn-block btn-danger" ng-click="removeFromFavourite()" my-i18n="prv_remove_from_favourites"></a>
            </div>

            <div class="pull-left temple_view_modal_chat_btn_wr">
                <button class="btn btn-group-justified btn-success" ng-click="goToGroup()" my-i18n="temple_view_modal_group_btn"></button>
            </div>
            <div class="pull-left temple_view_modal_chat_btn_wr">
                <button class="btn btn-group-justified btn-success" ng-click="goToChannel()" my-i18n="temple_view_modal_channel_btn"></button>
            </div>

            <div class="clear"></div>

            <div ng-if="temple.images.length">
                <ng-image-gallery
                        images="temple.images"
                        methods="methods"
                        thumbnails="true"
                        inline="true"
                        img-bubbles="false"
                        bg-close="true"
                        bubbles="false"
                        img-anim="fadeup"
                ></ng-image-gallery>
            </div>

            <div class="md_modal_iconed_section_wrap md_modal_iconed_section_number temple_view_modal_address" ng-if="temple.address">
                <i class="md_modal_section_icon md_modal_section_icon_keyboard"></i>

                <div class="md_modal_section_param_wrap">
                    <div class="md_modal_section_param_value ng-binding" ng-bind-html="temple.address"></div>
                </div>
            </div>

            <div class="md_modal_iconed_section_wrap md_modal_iconed_section_number temple_view_modal_phones" ng-if="temple.contact_phones">
                <i class="md_modal_section_icon md_modal_section_icon_phone"></i>

                <div class="md_modal_section_param_wrap">
                    <div class="md_modal_section_param_value ng-binding" ng-bind-html="temple.contact_phones"></div>
                </div>
            </div>

            <div class="md_modal_iconed_section_wrap md_modal_iconed_section_number temple_view_modal_emails" ng-if="temple.contact_emails">
                <i class="md_modal_section_icon md_modal_section_icon_keyboard"></i>

                <div class="md_modal_section_param_wrap">
                    <div class="md_modal_section_param_value ng-binding" ng-bind-html="temple.contact_emails"></div>
                </div>
            </div>

            <div class="md_modal_iconed_section_wrap md_modal_iconed_section_number temple_view_modal_emails" ng-if="temple.site">
                <i class="md_modal_section_icon md_modal_section_icon_keyboard"></i>

                <div class="md_modal_section_param_wrap">
                    <div class="md_modal_section_param_value ng-binding"><a target="_blank" ng-href="{{temple.site}}">{{temple.site}}</a></div>
                </div>
            </div>

            <div class="prv_scroll_col">
                <div class="prv_scroll_wrap">

                    <div class="temple_view_modal_temple_data_wr prv_scrollable_wrap">

                        <div ng-bind-html="temple.content"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>