<div class="confirm_modal_wrap md_simple_modal_wrap">
    <div class="md_simple_modal_body">
        <div class="confirm_modal_description" ng-switch="type">
            <span ng-switch-when="CHAT_GROUP" my-i18n="confirm_modal_chat_group"></span>
            <span ng-switch-when="CHAT_CHANNEL" my-i18n="confirm_modal_chat_channel"></span>
        </div>
    </div>

    <div class="md_simple_modal_footer">
        <button class="btn btn-md" ng-click="$dismiss()">
            <span my-i18n="modal_cancel"></span>
        </button>
        <button class="btn btn-md btn-md-primary" ng-switch="type" ng-click="$close()" my-focused>
            <span ng-switch-when="CHAT_GROUP" my-i18n="confirm_modal_chat_group_submit"></span>
            <span ng-switch-when="CHAT_CHANNEL" my-i18n="confirm_modal_chat_channel_submit"></span>
        </button>
    </div>
</div>
