<div class="temple_list_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">

        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li>
              <a ng-click="$dismiss()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <div class="navbar-quick-back-title">
                  <h4 class="modal_simple_header" my-i18n="user_temple_list_modal_title"></h4>
                </div>
              </a>
            </li>
            <li> <a class="md_modal_action md_modal_action_add_temple" ng-click="openTempleList()" my-i18n="temple_list_modal_add_temple"></a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>


  <div class="modal-body mobile_modal_body">
    <div prv-temple-list  class="temple_list_modal_col">
      <div class="temples_wrap nano" my-infinite-scroller>
        <div class="temples_scrollable_wrap nano-content">

          <div ng-if="!dataLoaded" class="prv_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="sessions_modal_loading">
            <my-i18n-param name="dots">
              <span my-loading-dots></span>
            </my-i18n-param>
          </div>

          <ul ng-if="dataLoaded && !emptyResults" class="contacts_modal_members_list nav nav-pills nav-stacked">
            <li class="temple_list_item clearfix" ng-repeat="temple in temples">
              <a ng-click="templeSelect(temple.id)" ng-class="{'no-image': !temple.images.length}">
                <div class="pull-left temple_list_modal_temple_img_wr" ng-if="temple.images.length">
                  <img ng-src="{{temple.images[0].thumb_url}}" alt="">
                </div>
                <div class="temple_list_modal_temple_desc pull-left">
                  <p>{{temple.title}}</p>
                  <p ng-if="temple.address">{{temple.address}}</p>
                </div>
              </a>
            </li>
          </ul>

          <div ng-if="dataLoaded && emptyResults" class="temple_list_modal_empty_list"
               my-vertical-position="0.2" padding="true">
            <div my-i18n="user_temple_list_modal_empty_list"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>