<div class="saint_list_modal_wrap md_modal_wrap">

    <div class="md_modal_head md_modal_head_simple">
        <div class="md_modal_title_wrap">
            <div class="md_modal_actions_wrap clearfix">
                <a class="md_modal_action md_modal_action_close" ng-click="$dismiss()" my-i18n="modal_close"></a>
            </div>
        </div>
        <div class="md_modal_title">
            <span my-i18n="saint_list_modal_title"></span>
        </div>
    </div>

    <div class="md_modal_body">

        <div class="saint_list_filter">
            <div class="filter_search temple_list_modal_search clearfix">
                <input class="form-control temple_list_modal_search_field no_outline" my-focused type="search"
                       placeholder="{{'modal_search' | i18n}}" ng-model="filter.name" autocomplete="off"/>
                <a class="im_dialogs_search_clear tg_search_clear" ng-click="filter.name = ''"
                   ng-show="filter.name.length">
                    <i class="icon icon-search-clear"></i>
                </a>
            </div>
        </div>

        <div prv-saint-list class="temple_list_modal_col">
            <div class="saints_wrap nano" my-infinite-scroller>
                <div class="saints_scrollable_wrap nano-content">

                    <div ng-if="!dataLoaded && !initialized" class="prv_modal_loading" my-vertical-position="0.2" padding="true">
                        <p class="text-center" my-i18n="saint_list_modal_input_saint_name"></p>
                    </div>


                    <div  ng-if="!dataLoaded && !initialized">

                    </div>

                    <div ng-if="!dataLoaded && initialized" class="prv_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="sessions_modal_loading">
                        <my-i18n-param name="dots">
                            <span my-loading-dots></span>
                        </my-i18n-param>
                    </div>

                    <ul ng-if="dataLoaded && !emptyResults"
                        class="temple_list_modal_list nav nav-pills nav-stacked">

                        <li class="temple_list_item clearfix" ng-repeat="saint in saints">
                            <a ng-click="saintSelect(saint)">
                                {{saint.name}}
                            </a>
                        </li>
                    </ul>

                    <div ng-if="dataLoaded && emptyResults && initialized" class="temple_list_modal_empty_list"
                         my-vertical-position="0.2" padding="true">
                        <div my-i18n="saint_list_modal_empty_saint_list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>