<div class="mobile_user_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">

        <div class="navbar-toggle-wrap dropdown" dropdown>
          <a class="dropdown-toggle navbar-toggle" dropdown-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-if="user.pFlags.contact">
              <a ng-click="importContact(true)" my-i18n="user_modal_edit_contact"></a>
            </li>
            <li ng-if="user.pFlags.contact">
              <a ng-click="deleteContact()" my-i18n="user_modal_delete_contact"></a>
            </li>
            <li ng-if="user.phone.length > 0 &amp;&amp; !user.pFlags.contact &amp;&amp; !user.pFlags.self">
              <a ng-click="importContact()" my-i18n="user_modal_add_contact"></a>
            </li>
            <li>
              <a ng-click="flushHistory()" my-i18n="user_modal_delete_chat"></a>
            </li>
          </ul>
        </div>

        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li>
              <a ng-click="$close()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <div class="navbar-quick-back-title">
                  <h4 my-i18n="user_modal_contact_info"></h4>
                </div>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body mobile_modal_body">

    <div class="mobile_user_modal_photo_profile_wrap">

      <a ng-click="openPhoto(user.photo.photo_id, {u: user.id})"  class="mobile_user_modal_image_wrap pull-left" my-peer-photolink="::user.id" img-class="mobile_user_modal_image" no-open="true" watch="true" ng-class="{disabled: !user.photo.photo_id}" ng-disabled="!user.photo.photo_id"></a>

      <div class="mobile_user_modal_info_wrap clearfix">
        <h4 class="mobile_user_modal_header" my-peer-link="user.id" verified="true"></h4>
        <p class="mobile_user_modal_status" ng-if="user.status" my-user-status="::user.id"></p>
      </div>

    </div>

    <div class="mobile_modal_section" ng-if="rAbout">
      <h4 class="mobile_modal_section_header" my-i18n="user_modal_about"></h4>
      <div class="mobile_modal_section_value" ng-bind-html="rAbout"></div>
    </div>

    <div class="mobile_modal_action_wrap">
      <a class="mobile_modal_action" ng-click="goToHistory()" my-i18n="user_modal_send_message"></a>
    </div>

    <div ng-if="user.phone.length > 0" class="mobile_modal_action_wrap">
      <a class="mobile_modal_action" ng-click="shareContact()" my-i18n="user_modal_share_contact"></a>
    </div>

    <div class="mobile_modal_action_wrap" ng-if="user.pFlags.bot &amp;&amp; !user.pFlags.bot_nochats">
      <a class="mobile_modal_action" ng-click="inviteToGroup()" my-i18n="user_modal_add_to_group"></a>
    </div>

    <div class="mobile_modal_action_wrap" ng-if="bot_info.commands.settings != null">
      <a class="mobile_modal_action" ng-click="sendCommand('settings')" my-i18n="user_modal_bot_settings"></a>
    </div>

    <div class="mobile_modal_action_wrap" ng-if="bot_info.commands.help != null">
      <a class="mobile_modal_action" ng-click="sendCommand('help')" my-i18n="user_modal_bot_help"></a>
    </div>


    <div class="mobile_modal_action_wrap">
      <a class="mobile_modal_action tg_checkbox clearfix" ng-click="settings.notifications = !settings.notifications" ng-class="settings.notifications ? 'tg_checkbox_on' : ''">
        <span class="icon icon-checkbox-outer"><i class="icon-checkbox-inner"></i></span>
        <span class="tg_checkbox_label" my-i18n="user_modal_notifications"></span>
      </a>
    </div>

    <div class="mobile_modal_section" ng-if="user.phone.length > 0">
      <h4 class="mobile_modal_section_header" my-i18n="user_modal_phone"></h4>
      <div class="mobile_modal_section_value" ng-bind="user.phone | phoneNumber"></div>
    </div>

    <div class="mobile_modal_section" ng-if="user.username">
      <h4 class="mobile_modal_section_header" my-i18n="user_modal_username"></h4>
      <div class="mobile_modal_section_value" ng-bind="'@' + user.username"></div>
    </div>

    <div class="mobile_modal_section" ng-if="prv_profile.profession">
      <h4 class="mobile_modal_section_header" my-i18n="user_modal_prv_profile_profession"></h4>
      <div class="mobile_modal_section_value" ng-bind="prv_profile.profession"></div>
    </div>

    <div class="mobile_modal_section" ng-if="prv_profile.birthday">
      <h4 class="mobile_modal_section_header" my-i18n="user_modal_prv_profile_birthday"></h4>
      <div class="mobile_modal_section_value" ng-bind="prv_profile.birthday"></div>
    </div>

    <div class="mobile_modal_section" ng-if="prv_profile.saint">
      <h4 class="mobile_modal_section_header" my-i18n="user_modal_prv_profile_saint"></h4>
      <div class="mobile_modal_section_value" ng-bind="prv_profile.saint.name"></div>
    </div>

  </div>

</div>
